[2017-04-04 08:42] mbwhite commented on #65
In addition - if you can get Docker running on Windows there is a prebuilt version of the Playground that is available https://hub.docker.com/r/fabriccomposer/composer-playground/

[2017-04-04 10:07] Jakeeyturner commented on #139
Assuming the user decides to upload certificates for the orderers and peers which means TLS is enabled, should we allow users to edit and view these certificates? This hasn't been covered by the hifis and I'm unsure what should happen in this case.

[2017-04-04 11:54] gcharters opened #610 "$class on the API breaks Java client generation"
The APIs generated by Composer includes an attribute called $class.  This causes problems when generating Java Clients from the Swagger because the model classes contain a _String getClass()_ method that conflict with _Class Object.getClass()_.  For example,

@ApiModelProperty(value = "The class identifier for this type")
@JsonProperty("$class")
public String getClass() {
return _class;
}

## Cont

[2017-04-04 13:56] dselman opened #611 "As a user I can run the getting started sample on HLF v1"
Port or clone the Getting Started sample to HL v1.

## Context

As we support both HL v0.6 and HL v1.0. The sample application scripts no longer work with HL v1.0.
This story includes:

1.  a new version of Sample application project with correct scripts and profile and create and join channel scripts etc
2. Instructions on how to set up environment to run sample applications on HL V1.0.

[2017-04-04 14:55] rodders1991 opened #612 "As a user, I want to be able to import all types from another namespace in one line of code"
At the moment, there seems to be no shortcut of importing all types from a namespace. For example, if `namespace biz.a` wants all assets from `namespace biz.b` containing assets Car1 , Car2 and Car3 for example, you will need to provide the following lines in the model file for `namespace biz.a`:

`import biz.b.Car1`
`import biz.b.Car2`
`import biz.b.Car3`

To save the amount of code, as a user, I

[2017-04-04 15:33] bestbeforetoday opened #613 "Fix backwards incompatible change to composer-common.Factory.newResource()"
Adding the _withSampleData_ option changed behaviour when only the _generate_ option is specified, so that now "empty" rather than sample property values are generated.

Remove the _withSampleData_ option and change the _generate_ option to be a string rather than a boolean, with the following expected values:

- 'sample': generate sample data, as before.
- 'empty': generate "empty" values for all

[2017-04-04 16:27] sumanair opened #614 "Broken Links in Docs"
minor observation. Thought to bring it to your notice. Some internal links in the docs are broken… These are the ones I noticed - In the page https://fabric-composer.github.io/tutorials/getting-started-cmd-line.html, the links at the bottom need to be updated.

https://fabric-composer.github.io/tutorials/getting-started-coding-bnd.html - > https://fabric-composer.github.io/business-network/busines

[2017-04-04 18:13] dselman opened #616 "Cannot create asset with sample data if the asset has-a concept"
## Context
Reported by a customer on RocketChat and reproduced in Playground and also created a failing unit test.

## Expected Behavior
Should be able to create an asset and populate with sample data, when the asset is modeled as having a top-level concept.

## Actual Behavior
Sample generator fails because it assumes that classes that are not enums are resources.

## Possible Fix
Update the inst

[2017-04-04 20:46] dselman commented on #616
Fixed

[2017-04-04 20:46] #616 closed

[2017-04-04 20:49] dselman commented on #579
Added some sample modes here: https://github.com/fabric-composer/sample-models

We now need to enable the `package.json` for a model to reference another published model, and have it pulled into the BNA when you call `BusinessNetworkDefinition.fromDirectory`

[2017-04-04 20:50] dselman commented on #555
I am going to close this as we have workarounds and are unlikely to get to this issue anytime soon.

[2017-04-04 20:50] #555 closed

[2017-04-04 21:03] dselman commented on #602
Connection profiles are also loaded from the COMPOSER_CONFIG environment variable. This should be a JSON string with a root `connectionProfiles` key, with a set of connection profiles indexed by name.

[2017-04-04 21:07] #602 closed

[2017-04-04 21:08] dselman commented on #614
@EdProsser can you please run a link checker over the docs and fix any broken links. The W3 link checker is here: https://validator.w3.org/checklink

[2017-04-04 21:25] dselman commented on #610
I think the $class is required to specify the concrete types returned/passed. For example, the model may specify that an asset has a collection of abstract types, and at runtime a collection of types derived from the abstract types could be validly returned.

Swagger 2.0 supports polymorphism:
http://stackoverflow.com/questions/27862407/swagger-inheritance-and-composition

Now I don't know if we a

[2017-04-04 21:27] dselman commented on #511
This sounds like a mixture of bug and enhancement. Can you please split into 2 so we can make progress?

[2017-04-04 21:29] dselman commented on #599
Please list all the places to fix so we can make this actionable.

[2017-04-04 21:48] sstone1 commented on #610
We don't attempt to give LoopBack the full type hierarchy; each LoopBack model includes all of the properties for that type, including the inherited ones. Bear in mind that we do not generate the Swagger; LoopBack generates the Swagger for us from the LoopBack model.

JSON supports any valid JSON string value as a key in a JSON object, including "$class" and "class". It seems that the latest level

[2017-04-04 21:48] #610 closed

[2017-04-04 21:56] dselman commented on #504
This has been open for too long. If these are going to linger they need to be broken out into their own issues for tracking.

[2017-04-05 08:33] dselman opened #619 "Playground Show All button to expand assets/participants doesn't show all data"
## Context
Pressing the "Show All" button on a very large asset in Playground doesn't show all the data, it looks like it is still truncated.

![screen shot 2017-04-05 at 09 31 32](https://cloud.githubusercontent.com/assets/623108/24696853/e2e9c574-19e2-11e7-9f13-230bf4e90add.png)

## Expected Behavior
Show All, should show... all data.

## Actual Behavior
Data is truncated.

## Possible Fix

## S

[2017-04-05 09:05] dselman opened #620 "As a contributor I manage code using Hyperledger infrastructure"
Code migration to go along with Fabric Composer's acceptance as a Hyperledger project!

[2017-04-05 09:07] dselman opened #621 "As a user I no longer have access to Composer-UI"
Composer-UI is the old version of Composer-Playground, but is currently still used in the run-me-locally Docker container, because the new Playground UI does not support all of the same functionality yet.

This therefore requires both #139 and #533 to be completed so that Composer-Playground can do everything that Composer-UI currently does.

There will then be additional tasks to achieve this Epi

[2017-04-05 09:16] dselman opened #622 "As a user I have a Vehicle Lifecycle Demo"
## Context

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Existing issues

- [ ] [StackOverflow issues](http://stackoverflow.com/tags/fabric-composer)
- [ ] [GitHub Issues](https://github.com/fabric-composer/fabric-composer/issues)
- [ ] [Rocket Chat history](https://chat.hyperledger.org/channel/fabric-composer)

## Context

## Your Environment

[2017-04-05 09:20] dselman opened #623 "As an end user I can create assets, participants and transactions using a webform"
When the user clicks "Create Asset" or "Create Participant" or "Submit Transaction" in the Playground, we want to offer the user a generated form to fill out wherever possible.

The behaviour should be:

1) If it's possible to generate a form, show the user both a form and an editable text field, and allow them to either fill the form or the box of JSON.

1a) Handle the situation where one of the

[2017-04-05 09:30] dselman opened #624 "As a user I can use Playground to save a business network definition to GitHub"
## Context

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Existing issues

- [ ] [StackOverflow issues](http://stackoverflow.com/tags/fabric-composer)
- [ ] [GitHub Issues](https://github.com/fabric-composer/fabric-composer/issues)
- [ ] [Rocket Chat history](https://chat.hyperledger.org/channel/fabric-composer)

## Context

## Your Environment

[2017-04-05 09:32] winslet commented on #139
@Jakeeyturner re the error fields, hopefully the below will be useful:

![text entry fields](https://cloud.githubusercontent.com/assets/13980028/24699134/e95d24ac-19ea-11e7-8b0a-30d73af550d3.png)

**Marketch:**
[Text_Entry_Fields.zip](https://github.com/fabric-composer/fabric-composer/files/895765/Text_Entry_Fields.zip)

Per the second question, im not sure I totally understand, if they are going

[2017-04-05 09:58] Jakeeyturner commented on #139
Thanks @winslet, those will definitely help.

Regarding my second point, your hifis cover editing certificates (my mistake!).
What I actually meant to say was that, when I view a V1 connection profile, should I be able to click something and see the certificates for each peer and orderer? - https://cloud.githubusercontent.com/assets/13980028/24258336/58006cd0-0fe5-11e7-9dc2-a3e9f264be14.png

[2017-04-05 11:26] samjsmith commented on #601
I agree, but this could be quite time consuming if the deploy process has to get all existing instances and validate them against the updated model couldn't it?  (It might be a lot of code too?!?)

My thoughts are that there are a couple of scenarios here:

1. you're in Development/Test and changing your model in the Playground and don't really care whether your changes make existing objects inval

[2017-04-05 11:35] xuanyue202 commented on #554
@sstone1  Sounds good. Then the question becomes whether the interfaces such as transactionexecutor (and potentially scriptprocessor) will be also changed violently? If so, I think we should keep in mind to make the language pluggable when writing the new code. If not, I think we should do this refectory before the big changes to avoid revisiting this issue with bigger cost in the future.

[2017-04-05 12:43] gcharters commented on #610
Thanks, @dselman and @sstone1 - I'll mention it to our tools folks.  It might be we just need to pick up a more recent level.

[2017-04-05 14:15] nklincoln commented on #538
It would appear that Simon has already made some edits that will fix this issue within serializer.js (fromJson) by conditionally creating a new resource, that will internally provide an identifier if not already present.

[2017-04-05 14:20] nklincoln commented on #538
The composer playground now contains some redundant code as a result of the above change and so should be edited to account for the above changes. Proposal:

- do not supply any uuid or date on transaction submission
- use specific newTransaction method in the factory to generate a transaction in the UI

Above will permit the reduction in code lines, which is always nice :)

[2017-04-05 15:23] 14gracel commented on #376
Added #627

[2017-04-05 15:23] #376 closed

[2017-04-05 22:47] dselman commented on #579
Model modules can now declare dependencies in package.json and `BusinessNetworkDefinition.fromDirectory` will follow the dependencies to build a valid archive.

The Playground code needs to be updated to be able to import such networks from GitHub.

[2017-04-06 08:32] 14gracel commented on #593
This error cannot be caught as the Fabric node sdk deals with the error

[2017-04-06 09:07] nklincoln commented on #538
fixed upstream and tided up with #632

[2017-04-06 09:07] #538 closed

[2017-04-06 12:47] mbwhite commented on #582
Certainly -  I have a plan here!

[2017-04-06 13:34] winslet commented on #387
Hifi's below, please refer to @Tobias-Hunter 's XD prototypes for the full flows.

### 1. User can view both the readme.md in either a code "editor" view or a standard rendered view.
![fabric composer playground define 2 copy 67](https://cloud.githubusercontent.com/assets/13980028/24756174/c68ba3e6-1ad4-11e7-92a6-98aaed553e83.png)
--
![fabric composer playground define 2 copy 57](https://cloud.git

[2017-04-06 16:49] winslet commented on #387
@sstone1 could you direct this back out to the team? Hopefully everything should be there, happy to help if we need anything more. 👍

[2017-04-06 20:08] #155 closed

[2017-04-07 08:10] #580 closed

[2017-04-07 12:52] Tobias-Hunter commented on #139
.XD File Box Link: https://ibm.box.com/s/sgz0uhb37c6x81zt7jp4qgxfcnvm0edr

Talked through this with @winslet, any questions don't hesitate to ask! 😛

[2017-04-07 13:34] 14gracel commented on #248
fixed #638

[2017-04-07 13:34] #248 closed

[2017-04-07 13:53] EdMoffatt commented on #139
Suggested copy tweaks for ya, @winslet and @Tobias-Hunter :

DIALOG BOX TITLE:
Connect with an identity

COPY BELOW THE LIST OF IDs:
Don’t have an ID & Secret?  An existing user of this Connection Profile will need to issue you one.

BUTTONS:
Cancel, Connect

ON THE “NEW IDENTITY” TAB, LABELS FOR INPUT BOXES:
ID Name:
Secret:

FAIL STATE ON “Connect” CLICK FOR AN ID FROM WALLET: The identity was n

[2017-04-10 03:58] opiepj opened #642 "Error in QuickStart Guide (No registered namespace)"
## Context

Following the quick start [guide](https://fabric-composer.github.io/installing/quickstart.html)

in `packages/getting-started` I get the error during install.

During the install process (deployNetwork) I get:

[code]
Failing the installation.
## Expected Behavior

Installation should work.

## Actual Behavior

Installation isn't working, I cannot follow the tutorials...

## Possible F

[2017-04-10 04:12] opiepj commented on #642
Linked to [issue](https://github.com/fabric-composer/sample-networks/issues/27)

[2017-04-10 07:01] stephane-mery opened #643 "Missing API to manipulate Composer data structure from/to registries"
## Context

Writing JavaScript transaction callback might require manipulating JavaScript objects that need to be hydrated from resources stored in Fabric Composer registries.
Objects manipulated by Fabric Composer need to have Relationship objects to materialize relations whereas pure JS object might have direct references to other JS objects.
One might need more APIs to transform JS objects to d

[2017-04-10 09:29] pospi opened #644 "Model type inheritance causes state retrieval errors"
This is related to #579 but probably a subtly different issue.

## Context
It would be nice to define a set of abstract base models in a reusable node package and inject them into networks to avoid having to redefine fields each time. Ideally we could do the following base models:

[code]

and derived models in a parent repository:

[code]

## Expected Behavior
I should be able to define models li

[2017-04-10 10:08] winslet commented on #139
Here come the hifi's!

(again please follow Toby's XD link above for the full flow - or drop me a message if any questions).

### 1. Connect with a pre-existing identity

![fabric composer playground define 2 copy 93](https://cloud.githubusercontent.com/assets/13980028/24856714/9c0cf62c-1ddd-11e7-9d16-233cf7fc4b61.png)
![fabric composer playground define 2 copy 94](https://cloud.githubusercontent.

[2017-04-10 13:24] pospi commented on #644
Apologies, these seems to be manifesting as a different error now, probably for different reasons. Have re-tested plain model / asset inheritance and successfully created some.

[2017-04-10 13:24] #644 closed

[2017-04-10 14:11] pospi opened #647 "Opaque error message when using POJOs with AssetRegistry.add & other composer-runtime functions"
## Context

Chaincode logic crashes on `getAssetRegistry()` when the asset class extends from an abstract base class.

## Expected Behavior

The asset registry should be returned for creating & managing assets.

## Actual Behavior

Peer logs `13:48:51.680 [chaincode] processStream -> ERRO 5b0 Got error: TypeError: 'getFullyQualifiedIdentifier' is not a function` and the transaction is rejected.

#

[2017-04-10 14:18] jt-nti opened #649 "Playground component wishlist"
Collection of Angular components that could be useful for developing the Playground UI. This issue is to keep track of initial discussion before discounting any proposed components or moving them into their own issue.

- [ ] (01) SpinnerButton - there are already a few occurrences of the following pattern which it would be nice to simplify with a new component

[code]

- [ ] (02) TypeaheadDropdown

[2017-04-10 15:03] bndzanan commented on #57
How can I easily test my ACL logic ?

[2017-04-10 15:27] davidkel opened #651 "Use npm shrinkwrap (or fix version numbers) to ensure releases remain strong and stable"
There are 2 problems that occur
- Due to our declaration in package.json we allow for minor changes to third party libraries outside of our releases. For example we depend on Package A and when we test prior to release, Package A is on version 1.0.1 and we are happy and release. Package A then updates to 1.0.9 and those changes cause problems, our released version will now fail where it could stil

[2017-04-10 16:54] EdMoffatt opened #652 "Scrollbar fixes on Asset/Participant/Transaction modals"
When creating an Asset or a Participant, if you make the input box wide or tall enough to get scrollbars...

1. You get 2 vertical scrollbars:

![image](https://cloud.githubusercontent.com/assets/7454304/24872404/4451bb1a-1e15-11e7-9365-caf34c1c9020.png)

(Image captured in Chrome, can also confirm it happens in Firefox, but harder to screenshot as the second scrollbar only shows up when you are s

[2017-04-11 03:51] ibmamnt commented on #67
Customer need this feature as soon as possible, since they are going to put large number of assets in the production system. Say 30,000 / year.

[2017-04-11 08:07] jthub commented on #642
This should have been fixed in the latest release https://github.com/fabric-composer/fabric-composer/releases/tag/v0.5.10

[2017-04-11 09:28] EdMoffatt commented on #213
As part of a GitHub "lets get super organised" drive...

- Leaving this one as an Issue, as it doesn't seem large enough to convert to an Epic and split down
- Un-assigning Simon, since he's on holiday and shouldn't be working ;)  This will mean it appears as open for anyone to pick up
- Changing to the Playback 4 milestone, so that we can track the current playback tasks in ZenHub (ZenHub doesn't

[2017-04-11 09:33] EdMoffatt commented on #161
As part of a GitHub "lets get super organised" drive...

- Leaving this one as an Issue, as it doesn't seem large enough to convert to an Epic and split down
- Un-assigning @sstone1 , since he's on holiday and shouldn't be working ;) This will mean it appears as open for anyone to pick up
- Changing to the Playback 4 milestone, so that we can track the current playback tasks in ZenHub (ZenHub does

[2017-04-11 09:36] EdMoffatt commented on #533
As part of a GitHub "lets get super organised" drive...

- Converting this to an Epic, as there are a few child Issues being worked as part of it
- Changing to the Playback 4 milestone, so that we can track the current playback tasks in ZenHub (ZenHub doesn't play so well with Projects!)

I'm also going to raise a new issue to reflect the bit of splintered-off work that's currently blocking progre

[2017-04-11 09:40] EdMoffatt opened #655 "Review ID and Connection Profile behaviours for consistency"
As part of #533 , @jthub pointed out that we have inconsistency between the way IDs and Connection Profiles behave as UI components, and we don't have a solid justification for why that's needed.

As part of an effort to make more re-usable Angular components for our UI, @Tobias-Hunter is going to take a look at whether we could re-design some of the way ID and Connection Profiles work to improve

[2017-04-11 09:43] EdMoffatt commented on #139
Moving this one over to Playback 4.  It's also currently waiting on the work that @Tobias-Hunter is doing on #655 - so Toby should post the relevant parts of those designs here once done too, to unblock @Jakeeyturner ;)

[2017-04-11 09:48] EdMoffatt commented on #620
This one needs lots more detail.  It feels like there are probably multiple tasks under it though, so I'm going to convert it to an epic, and then somebody with more knowledge of what's actually required than me should come create Issues to break it down so that people can start working on it, please ;)

[2017-04-11 09:51] Tobias-Hunter commented on #139
@Jakeeyturner Should be unblocked already with those Hi-Fi's! 😉

[2017-04-11 09:52] EdMoffatt commented on #611
As part of "GitHub cleanup", adding the Playback 4 Milestone to this one.

Not sure whether it's one that should be converted into an Epic and then split out - what do you think, @fenglianxu ?  Is this a single issue worth of work, or would you be able to split it into smaller tasks and share around the team?

[2017-04-11 09:54] Tobias-Hunter opened #656 "As a user I am able to deploy to a different Connection Profile than the one currently activated."
Allow users to deploy to a Connection Profile other than the one currently active!

[2017-04-11 09:55] EdMoffatt commented on #621
Updated the description.  This one needs breaking into issues.  Once we have #139 and #533 closed, what else do we need to do to retire Composer-UI and replace it with Composer-Playground?

[2017-04-11 09:56] EdMoffatt commented on #621
Oh, and I'm gonna un-assign @sstone1 again because he's on holiday and shouldn't be working ;)  Plus if someone comes in and sees it as un-assigned, they may pick it up and be able to help by splitting it into Issues!

[2017-04-11 09:56] Tobias-Hunter opened #657 "As a user I can decide which model I want to import into the Playground in the splash screen!"
Context: The current Splash page in the UI has a weird behaviour, it is like if you open Word a document & a document has already been loaded in!

Suggested: When entering the Playground, we display the models which are available to be Imported into the Playground, some may require authentication whereas others do not! Acting like a shop window for the models which are available! (When you open Wo

[2017-04-11 10:14] EdMoffatt commented on #228
Clearing out things from the Playback 3 milestone.
I'm not clear from the current discussion whether this is something we'd plan to fix in Playback 4, but I'll assign it to that for now.

[2017-04-11 10:16] EdMoffatt commented on #207
Shifting this over from Playback 3 to Playback 4, as it looks like we're still working on it

[2017-04-11 10:18] EdMoffatt commented on #142
Since this is targeted for Playback 7, I'm just gonna knock the "Playback 3" milestone off it so we can close that one off :)

[2017-04-11 10:19] EdMoffatt commented on #142
Also not really worth having anyone assigned to something that's happening multiple months away, so with apologies to @sstone1 , I'm yet again going to unassign him from an issue XD

[2017-04-11 10:20] EdMoffatt commented on #60
Shifting this off of Playback 3 Milestone - will put it on Playback 4 for now

[2017-04-11 10:21] EdMoffatt commented on #45
Shifting this over to Playback 4 for now to clear out the Playback 3 milestone

[2017-04-11 10:24] EdMoffatt commented on #44
Just gonna pop this over onto the Playback 4 milestone to clear out Playback 3...

[2017-04-11 10:24] EdMoffatt commented on #43
Moving this over to Playback 4 so that I can close out the Playback 3 milestone.

[2017-04-11 10:25] nklincoln opened #658 "Test Improvements for Composer Playground"
Composer Playground test improvements, following from #449 and #435

## Context
The existing tests for Composer Playground components need to be extended to include UI display/logic checks appearing correctly at the DOM level. The ts files appear to be tested rigorously, though there appears to have been a focus on code coverage for the typescript file and no real focus on testing the intent from

[2017-04-11 10:57] dselman commented on #657
I like this, but I would also like to increase the visibility of the import overall. Can we have a link in the UI to Model Marketplace / Network Marketplace or something similar? We also need to add the ability to import a model into an existing network.

[2017-04-11 11:01] dselman commented on #579
I backed out my changes (which broke `composer archive create` for lerna hoisted packages) so we currently cannot create BNA from those projects. We also need to make Playground smart enough to follow those dependencies. HOWEVER, we have a bit of an issue in that Playground will build the network "from source" pulling from github, while `composer archive create` will build it from npm (via an npm

[2017-04-11 11:02] 14gracel opened #659 "Playground doesn't report error if a .bna fails to import from github"
When importing a network into Playground from github, if the network fails to deploy for whatever reason, the user is not given an error message, they just see the last network they had open

## Context
Importing a network that is incompatible with playground
## Expected Behavior
it should give the user an error that the network failed to import

## Actual Behavior
No error, defaults to last netwo

[2017-04-11 12:48] markcastle3 commented on #611
@EdMoffatt epic I think and then issues.

[2017-04-11 13:07] Tobias-Hunter commented on #656
Initial thoughts on this, explained on the first page of the .XD File Click-Through below! 😛

.XD File Click-Through: https://xd.adobe.com/view/d63ffb02-0e58-4dba-ab07-005584121ef1/
.XD File Box Link: https://ibm.box.com/s/4jv9ps0h2gn0ol43n59bz2boit716jph

Assigning @winslet for Hi-Fi's!

[2017-04-11 13:11] pospi commented on #647
I've been building an integration test running with `composer-connector-embedded` so now I've managed to get a stack trace as well :D

[code]

[2017-04-11 13:22] 14gracel opened #662 "Useless error message when attempting to connect to hlfv1 without a valid connection profile"
Currently we see `TypeError: Cannot read property 'fail' of undefined
`
![image](https://cloud.githubusercontent.com/assets/17450713/24911178/fc23bfde-1ec1-11e7-9fd9-401abbde486b.png)

## Context
Takes much longer to debug why a network isn't deploying without a useful error message

## Expected Behavior
An error message saying something like `Invalid connection profile 'name' provided`

## Actual

[2017-04-11 13:58] 14gracel commented on #662
@sstone1 @dselman Any suggestions about where this should be reported from? And where should we report that it is an issue with the connection profile?
 I am no longer getting the `TypeError: Cannot read property 'fail' of undefined` message, but the message I'm now getting isn't much better
[code]

[2017-04-11 14:38] davidkel opened #663 "Example data for transactions in rest server include {"transactionId": "string"}"
In the rest server Web UI transactions show example values which include the property transactionId. But when you specify that property in the try it out box you get an error as follows

[code]

[2017-04-11 15:21] EdMoffatt opened #666 "Getting Started update for V1"
Make the updates to Getting Started as part of epic #611

[2017-04-11 15:22] EdMoffatt opened #667 "Doc updates for V1 getting started"
Updates to the doc walking users through the newly updated V1 Getting Started.

[2017-04-11 15:26] EdMoffatt commented on #611
#666 and #667 raised as issues under this epic - this one can be closed once @14gracel and @mahoney1 close off those issues!

[2017-04-11 15:27] 14gracel commented on #666
Added in PR (here)[https://github.com/fabric-composer/sample-applications/pull/22]

[2017-04-11 16:12] mahoney1 commented on #667
Updated the docs (Quickstart.md) and executed a pull request for all changes...waiting to merge once Travis completes.

[2017-04-11 17:38] opiepj commented on #642
yeap was on 5.9, all good now.

[2017-04-11 17:38] #642 closed

[2017-04-12 08:49] winslet commented on #657
@dselman thanks, do you know if we are able to display the names of the sample networks we have in Github _before_ the user authenticates? (eg so we could grey them out etc until you authenticate).

[2017-04-12 09:12] dselman opened #668 "yo generator for business network fails"
## Context
Cannot generate a skeleton business network.

## Expected Behavior
Should generate a template business network.

## Actual Behavior
[code]
## Possible Fix

## Steps to Reproduce

1. Run the generator
2. Select the skeleton business network option
3.
4.

## Existing issues

- [ ] [StackOverflow issues](http://stackoverflow.com/tags/fabric-composer)
- [ ] [GitHub Issues](https://github.co

[2017-04-12 10:39] eflamini commented on #142
So, Alice has to register twice, once to get Twitter ID, another one to get blockchain ID and secret. Is that right?

[2017-04-12 11:09] rodders1991 commented on #647
This doesn't seem to limited to inherent models, getting the same error when trying to add the following asset via a transaction:

`models/org.network.diamond`
[code]

All special type (e.g ColourGrade) are enums:

`lib/logic.js`

[code]

Error:

[code]

[2017-04-12 11:40] davidkel opened #669 "Implement controllable logging for chaincode and runtime"
chaincode and runtime logging used to work but on release of the v1.0.0-alpha logging stopped. Currently the code has hardcoded the logging level to debug in order to re-instate logging however this should be controllable.
Ideally we don't want to use environment variables because although that is ok for development and testing on local fabrics, when it comes to production fabrics it may not be so

[2017-04-12 11:46] davidkel opened #670 "As a network starter, I can bind an initial set of identities to participants at deployment time"
Composer runtime defines that if on request for an identity, that identity is null then whoever made the request as no restrictions on them.
In HLFV1 all users are identified through the common name of the request creator certificate. That included Admin and as such if we returned admin as the identity then admin was restricted from certain capabilities. In order to accelerate working with hlfv1,

[2017-04-12 11:52] davidkel opened #671 "TLS Support with system tests"
TLS Support is implemented however there are some issues with the system test setup which required a workaround of setting both peers to be gossip leaders which should not be setup that way. The issue is tracked by https://jira.hyperledger.org/browse/FAB-2942
Also it is possible to enable the system tests to run in TLS mode as follows, it is currently disabled.
To change them to tls update the tra

[2017-04-12 11:53] davidkel opened #672 "Playground support for hlfv1 connection profiles"
playground should support hlfv1 connection profiles

[2017-04-12 11:56] davidkel opened #673 "Undeploy Support"
Need to define what this means on an HLFV1 context and implement it for the command
`composer network undeploy`

[2017-04-12 11:58] davidkel opened #674 "CI Builds with Daily builds of HLF"
Our system tests are fixed against HLF V1.0.0-alpha runtime and node-sdk
As HLF release other milestone drops and daily builds on their journey to a 1.0 release we should have system tests running against these builds so we know if there are any breaking changes being introduced.

[2017-04-12 12:02] davidkel opened #675 "Provide support for the creation of hlfv1 connection profiles"
There are many places in our code where a connection profile is created, but these are all V0.6 orientated. We need to update all these places to support V1.0 connection profiles as well.
Also it may be helpful to have a cli that helps a user create a connection profile as well given the increase in complexity

[2017-04-12 12:14] davidkel opened #676 "Do we need to support new capabilities in node-sdk ?"
new capabilities are being added to node sdk so far I have seen
- verifyProposal: verify the results of a proposal sent to peer
- timeout on sendProposal
  - this is defined when you create a peer or orderer and cannot be changed on the peer once created, also if not specified then it will default to 45 seconds (or 30 secs if no config present) currently for the current level of sdk-node. Which me

[2017-04-12 12:17] davidkel opened #677 "Not possible to use any other FileKeyStore location other than ~/.hfc-key-store"
This is an issue with the node-sdk I believe and is being tracked by
https://jira.hyperledger.org/browse/FAB-2940

[2017-04-12 12:20] davidkel commented on #62
I've split this epic out into several issues here
#677
#676
#675
#674
#673
#672
#671
#670
#669

[2017-04-12 13:23] davidkel commented on #647
Looking at the docs at
https://fabric-composer.github.io/jsdoc/module-composer-runtime.AssetRegistry.html#add__anchor
would suggest that you cannot add POJOs to an asset registry but need to create asset instances using a factory.
The code should protect against passing a type of object in that isn't expected and should reject it with a helpful error message.

[2017-04-12 15:15] davidkel commented on #662
I have seen this error for many reasons
1 - deploying a non-existant archive
2 - mistakes in connection.json files eg invalid paths to certificate files, path to keystore not valid, missing a quote out in connection.json itself
3 - connection profile doesn't exist

There seems to be a common theme for not locating files

[2017-04-13 09:04] nklincoln commented on #449
#292 is relevant here

[2017-04-13 09:07] sstone1 commented on #621
@EdMoffatt I assigned this one so I could have the pleasure of deleting all of the old UI code; I still want that pleasure 😉

[2017-04-13 09:07] sstone1 commented on #142
@EdMoffatt if something is targeted for a later iteration, it does not mean that we are not working on it at the moment 😉

[2017-04-13 09:14] nklincoln opened #683 "Editing package.json results in persisted validation errors"
When editing the package.json through composer UI, as soon as I start to edit the definition, the UI reports an internal code error. This error display is then persisted when I click through to a different (valid) component definition.

## Context
Opened up animal tracking example. Tried some basic edits, tried to edit the package.json ... a valid edit caused an error to be thrown internal to the

[2017-04-13 09:22] sstone1 commented on #142
@eflamini I understand what you mean, but it's not all Alice in this process:

1) Alice does not register for a blockchain ID; she does not have the permission to do so. Somebody or something (perhaps an automated service) with an existing blockchain ID that has the permission to issue new blockchain IDs has to issue Alice with a blockchain ID.

2) The administrator deploying the REST server for a

[2017-04-13 09:58] eflamini commented on #142
Yes, you're right, Alice's registration is done by a blockchain user (admin) which has a registrar role.
And I understand that her registration is a use case that has nothing to do with the scenarios involving

I still have to digest all the implications related to the fact that the authentication will likely happen externally, from an authentication service, if I understand correctly. This authen

[2017-04-13 10:56] nklincoln opened #684 "As a user of Composer I can add/define ACL files through the editor"
Currently via fabric composer it is possible to add/define new model (cto) and script file (js) but not an ACL file.

## Context
If I import a new Business Network, which does not have an ACL file, it is not possible to define one in the composer. We already have the ability to edit an existing ACL file (with inbuilt validation) but not define an empty one.

## Expected Behavior
When using the "+

[2017-04-13 13:05] winslet commented on #657
Hifi's...

#### 1. Before user has authenticated with GitHub account

![fabric composer playground define 2 copy 89](https://cloud.githubusercontent.com/assets/13980028/25005686/c74ca280-2051-11e7-8b08-6ac4c3926033.png)

#### 2. Post GitHub authentication

![fabric composer playground define 2 copy 88](https://cloud.githubusercontent.com/assets/13980028/25005658/a9cfabbc-2051-11e7-9604-8df88232e40

[2017-04-13 14:16] Tobias-Hunter commented on #655
Initial thoughts on this, explained on the first page of the .XD File Click-Through below! 😛
Shared with @jthub the other day!

.XD File Click-Through: https://xd.adobe.com/view/e2ae2405-2d08-4b7f-b8e3-1469f9186fbf/
.XD File Box Link: https://ibm.box.com/s/k9df73ucdn35s0yv1kzab4f4rz5i7kov

Assigning @winslet for Hi-Fi's!

[2017-04-13 14:20] winslet commented on #539
I am a little confused, we would ideally like "success" notifications to be as per this:

![image](https://cloud.githubusercontent.com/assets/13980028/25008633/3c7b3ab2-205c-11e7-8aa5-f5d125a0ca58.png)

![image](https://cloud.githubusercontent.com/assets/13980028/25008722/7228f140-205c-11e7-8922-e987183c0265.png)

(as positive notifications, _which require no action_, should not need to be dismiss

[2017-04-13 14:27] winslet commented on #460
Potential fix: Make use of the SCSS styling for the Docs to apply to the Readme. Will look into getting this working next week.

[2017-04-13 14:29] winslet commented on #56
Could we scope and work out where this should go in terms of priority? Thinking backlog?

[2017-04-13 14:46] davidkel opened #685 "If an install succeeds but an instantiate fails, you are left with a package on the peer and cannot deploy again"
[code]

So long as that package is ok, then we could ignore the error on the install part that the package already exists and just move on to the instantiateProposal.

If the package is not ok, currently there is no way to delete it (but that may be coming) however if it wasn't ok then it should be a newer version of the business network. ~~The Current signature only includes the level of composer

[2017-04-13 15:41] nklincoln commented on #683
So the initial investigation has found that:

- clientservice.ts (line 161) should be conditioned for the case where there is no acl file. This will remove an error stack that is obscuring a secondary issue in the editor html component
- editor.component.html (line 66) needs to have the focusHere flag removed, so that any click operations do not trigger it.

The above changes will fix the ability

[2017-04-13 15:45] EdMoffatt commented on #657
Quick thought on @dselman 's last comment...  It sounds like we might want to have another issue along the lines of "Extend the functionality of the "Import/Replace" action in the Playground"?

This one's specifically looking at when you first access the page and get the welcome page, and at the same time it's sounding like there are some things we could explore for when the user is in the UI and

[2017-04-13 17:31] sstone1 commented on #685
The business network definition (and it's version) can be updated using chaincode calls without upgrading the chaincode itself. Are you suggesting that we should perform a chaincode upgrade (needed if the version is Composer version + business network version) each time we update the business network definition? That seems a bit overkill!

We should be installing the Composer chaincode once per Co

[2017-04-13 18:39] nklincoln commented on #683
Error message transferal can be fixed through an edit of *editor-file.component.ts* in the *loadFile()* method (from line 62). There is a choice of fix here. Since composer will not save/commit updates to files if they are in an error state, we could assume that all newly opened files are valid. This would enable a "one liner" fix by setting the error message to null when loading a new file, but w

[2017-04-14 09:01] PPCM opened #687 "Installation issue : hashtable@2.0.2"
Initial installation issue for fabric-composer

## Context
npm ERR! Linux 4.9.0-2-amd64
npm ERR! argv "/root/.nvm/versions/node/v6.10.2/bin/node" "/root/.nvm/versions/node/v6.10.2/bin/npm" "install" "-g" "composer-cli"
npm ERR! node v6.10.2
npm ERR! npm  v4.3.0
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn

npm ERR! hashtable@2.0.2 install: `node-gyp config

[2017-04-14 09:25] dselman commented on #687
Appears to be fixed by installing Python:
https://github.com/chad3814/node-hashtable/issues/28

[2017-04-14 09:25] #687 closed

[2017-04-14 09:34] PPCM commented on #687
Python is already installed: Python 2.7.13

[2017-04-14 12:00] dselman commented on #687
Do you have the same issues when using Node 6.9.5?

[2017-04-14 13:09] Jamiek94 commented on #687
I only had this problem when I was logged in as root.

I was able to install the composer-cli by executing the following command first:

`
npm config set unsafe-perm true
`

[2017-04-14 17:17] #267 closed

[2017-04-14 18:48] sstone1 commented on #142
@eflamini correct, the REST server administrator has to choose a trustworthy authentication provider. to use to authenticate the clients of the REST server. They also have to choose and secure a wallet data store (for example Mongo) to store the clients enrolment certificates in.

The clients of the REST server also have to trust the REST server administrator 😉

[2017-04-15 18:00] Mohamoud opened #691 "Trash & Edit button disappears"
The trash and edit button disappears when I hover my mouse over it in the test filed section of the Playground. However, when I click the "collapse" button the trash & edit buttons reappear.
## Context

I thought this might be an issue for users in the future. Someone might accidentally
<img width="1440" alt="screen shot 2017-04-15 at 1 57 32 pm" src="https://cloud.githubusercontent.com/assets/801

[2017-04-16 18:41] davidkel commented on #667
@mahoney1 I think you need to check with @sstone1 and @dselman as to how getting started is to be provided. The change to getting started to hlfv1 was reverted as it was causing confusion and problems for users.
There is a separate repository created for getting started specifically for hlf v1 called 'sample-applications-hlfv1' currently as I assume that there was a plan to keep the 0.6 version go

[2017-04-17 11:20] davidkel commented on #685
Is it possible to run multiple business networks within a single chaincode container or is that something we are considering in the future ? If we used a generic id for the chaincode then would someone be able to deploy multiple business networks and have them run in different containers ? on the same peers ?

[2017-04-17 19:11] opiepj opened #694 "Upgrade Angular Generator"
# Upgrade Angular Generator

## Context

I want to upgrade the Angular Generator to use Angular 4
## Expected Behavior

The fabric composer app generator should be up to date on Angular releases with best practice patterns

## Actual Behavior

Right now the generator is only on version 2.4

## Possible Fix

I'll do a quick update

[2017-04-18 02:50] pospi commented on #647
Thanks David, this does seem to have been the error and we've fixed things by wrapping the object in a factory call. I've changed the issue title accordingly as I believe all we really need is a better error message.

[2017-04-18 06:22] pospi opened #696 "Composer runtime alters relationships to store as the base resource type"
I'm unsure if this is intended functionality or simply something that needs further explanation. The `assetRegistry` appears to alter relationship data prior to saving, and stores relationships as the base type from the model schema instead of the type provided.

## Context

We have multiple different participant subclasses used in our network for different domains/clients/channels. Attempting to

[2017-04-18 06:58] dselman commented on #696
This looks like a bug to me. @sstone1 do you confirm?

[2017-04-18 07:35] sstone1 commented on #685
It is not currently possible, and I would not like to introduce support for multiple business networks running within a single chaincode. Separation by using multiple chain codes gives us true isolation (different world state) between multiple business networks.

[2017-04-18 07:42] pospi commented on #696
Further info: if the relationship is setup in calling code and passed into the transaction rather than being created within the `composer-runtime` then the following error is given instead:

[code]

[2017-04-18 07:56] dselman opened #697 "As a user I can edit models and networks with dependencies in Playground"
## Context
Business Networks can be dependent on models (which are themselves npm modules). We would also like models to be dependent on other modules (story #631).

In addition for some scenarios it would be useful for a business network to depend on another business network (to share common models and scripts for example).

All of these requirements/changes require rethinking how Playground impo

[2017-04-18 08:06] dselman commented on #697
I think the net is that Playground needs to be smarter about understanding the dependencies and what can be edited based on the current context.
We will need some UX design from @EdMoffatt e.g. extend the left-nav to also list "dependencies" and make those clickable links.
We may need to materialize 3 editing contexts: editing a business network project, editing a model project, editing a library

[2017-04-18 08:18] sstone1 commented on #407
Can confirm that this functionality does work as expected on Safari 10.1.
It looks like Safari 10.1 is available for Mac OS 10.10, 10.11, and 10.12.
Given how happy (usually!) Mac users are to upgrade, and the work required to resolve this problem another way, I vote that we just close this.

[2017-04-18 08:18] #407 closed

[2017-04-18 08:22] sstone1 commented on #663
This is a LoopBack bug and should be raised against them.
We are setting `forceId: true`:

We are also setting `generated: true` and `required: false` on the ID property.

The ID should not appear in the Swagger example for the POST operations.

[2017-04-18 09:45] #619 closed

[2017-04-18 10:19] 14gracel commented on #668
Fixed in PR #698

[2017-04-18 10:19] #668 closed

[2017-04-18 11:06] davidkel commented on #662
@14gracel Hi Liam, mind if I take this as I know what the problem is and it has been a real issue for people over the last few days

[2017-04-18 12:10] 14gracel commented on #662
@davidkel Go for it

[2017-04-18 12:13] #239 closed

[2017-04-18 12:31] davidkel commented on #662
PR #699 merged

[2017-04-18 12:31] #662 closed

[2017-04-18 22:23] davidkel commented on #673
## assumptions
An assumption about undeploy is that if a business network is undeployed, it should be possible to redeploy it again to any peer that it had been originally deployed to.

## info about fabric docker containers for chaincode
Docker containers are started with the name as follows
<network_id>-<peer_id>-<chaincode_id>
which is also the docker image name.
The chaincode id is made up of

[2017-04-19 09:27] #613 closed

[2017-04-19 13:45] jthub commented on #440
See no. 4 on the playground component wishlist for these pop overs #649

[2017-04-19 14:58] davidkel commented on #674
This has been an interesting exercise so far and shows that this isn't something that is going to be a good thing to do automation wise for the following reasons
- although rameshthoomu publishes builds they aren't published every day
- along with the above, the sdk node publishes unstable modules at different frequencies which mean the latest versions of each can be out of sync (and when changes

[2017-04-19 15:11] mbwhite commented on #608
FYI I'm added some docs for the create command.

I've looked at the tests command and I'm of the view that this now doesn't add much value  - it did a while ago. @sstone1 did mention Cucumber related to testing business definitions.

[2017-04-19 15:40] nklincoln commented on #683
Following an off-line conversation with @sstone1 :

- It is not possible to save a file in error state and so we can assume all files opened are valid

Consequently the solution to be taken from the above is to set any error message to null during the loadFile() operation.

[2017-04-19 16:15] winslet commented on #655
Updates following extensive discussion with @jthub @EdMoffatt @Tobias-Hunter

Outcome:

1. Update the header to include the name of the connection profile

_hifi_
![image](https://cloud.githubusercontent.com/assets/13980028/25189898/8602b474-2522-11e7-97ba-a1a6603362f0.png)

2. In the "Identity Registry" page, include a way of showing the current _"In Use"_ Identity

_hifi_
![image](https://cloud.

[2017-04-19 16:15] nklincoln commented on #683
Following above code edits and test extensions, this issue shall be closed.

[2017-04-19 16:15] #683 closed

[2017-04-19 19:44] nklincoln commented on #691
Hi @Mohamoud,

Thanks for raising the issue - are you able to let us know what OS and browser (with version) that you were using when you came across the above please?

I have looked at this on Ubuntu (16.04), with Chrome (57.0.2987.133 ), Chromium (57.0.2987.98) and FireFox (39.0.3), on a locally deployed Composer and the Bluemix staged Composer, but have been unable to replicate.

Thanks,
Nick

[2017-04-19 19:58] nklincoln commented on #179
Hi @AntCole,
The documentation has changed somewhat since this issue was raised, and is now hosted at:

https://fabric-composer.github.io/installing/prerequisites.html

Could you provide some feedback on the current form based upon your initial thoughts captured when the issue was raised?

Thanks,
Nick

[2017-04-19 20:15] Mohamoud commented on #691
Mac, using Firefox.

On Wed, Apr 19, 2017 at 3:45 PM, Nick Lincoln <notifications@github.com>
wrote:

--
*Mohamoud Egal*
*www.mohamoudegal.com <http://www.mohamoudegal.com/>*
*LinkedIn <https://www.linkedin.com/in/mohamoudegal>*

[2017-04-20 08:54] AntCole opened #705 "As a developer new to composer I would like to link from a syntax error to the documentation on how it should be done"
## Context
When a developer new to composer uses playground, they are shown sample code with the basics of what is possible. When they test out new ideas within the code they are quickly shown what is wrong via the syntax checker but not obvious where they find documentation to show what is correct.

## Expected Behavior
When a syntax error is shown, a link to the documentation relating to that er

[2017-04-20 08:56] winslet opened #706 "Trying to open the import/replace modal causes the modal to only flash up"
## Context

![kapture 2017-04-20 at 9 49 15](https://cloud.githubusercontent.com/assets/13980028/25222040/2b4c7884-25af-11e7-8e6e-c0adfb4dfb8a.gif)

Selecting to open the "import/replace" modal causes the modal to only flash up instead of being able to import anything.

**Browser:** FF & Chrome on Mac
**Console Error to go with it:**
![image](https://cloud.githubusercontent.com/assets/13980028/252

[2017-04-20 08:56] winslet commented on #460
Cannot make any changes as of yet due to #706

[2017-04-20 08:59] mbwhite commented on #620
Areas that need update based on name change *Fabric Composer* -> *Hyperledger Composer*

- Twitter id is fabric_composer
- StackOverflow tag - need to create synonym `hyperledger-composer`
  - simple to do I've a contact in Hursley who can do this
- NPM
  - change the name of the administrator
  - change the name of the Yeoman module
- Vanity URL
  - hyperledger-composer.org to replace fabric-comp

[2017-04-20 09:27] nklincoln commented on #691
Thanks, this has been confirmed by @bestbeforetoday as occurring only on Mac with Firefox; neither Safari nor Chrome exhibit the same behaviour on a Mac.

[2017-04-20 10:10] nklincoln commented on #691
This appears to be a component of #496 (or at least related), currently assigned to @caroline-church.

[2017-04-20 10:25] AntCole commented on #179
looking good from initial viewing

[2017-04-20 10:30] nklincoln commented on #706
@winslet  - if you follow the link shown in the console error, do you get taken to a page with a "API rate limit reached/exceeded" message?

[2017-04-20 12:17] #614 closed

[2017-04-20 13:04] Mohamoud commented on #691
Glad I could help. The buttons go white when using Composer on Firefox.

On Thu, Apr 20, 2017 at 6:10 AM, Nick Lincoln <notifications@github.com>
wrote:

--
*Mohamoud Egal*
*www.mohamoudegal.com <http://www.mohamoudegal.com/>*
*LinkedIn <https://www.linkedin.com/in/mohamoudegal>*

[2017-04-20 13:30] sstone1 commented on #696
In order to resolve this problem, we need to decide on a serialisation format for relationships where the target resource is a subtype of the type specified in the model. The code I removed in #469 used the format `type#id`, e.g. `org.acme.Vehicle#VIN_1234`, our fully qualified identifier. That code got removed as we had no parsing code for it, so it didn't work.

I think that serialisation format

[2017-04-20 14:48] dselman opened #709 "Cannot assign a relationship to a derived type if type in different namespace"
## Context

The relationship type validation code currently assumes that derived types are in the same namespace as their base types.

## Expected Behavior
Should be able to assign a derived type to a relationship declared with a base type -- irrespective of the namespace of the base and derived type.

## Actual Behavior
Validation fails if the derived type is not in the same namespace as the base

[2017-04-20 15:38] bestbeforetoday opened #711 "Improve compatibility of sed command in QA validation doc"
The existing sed command does not run on the version of sed in MacOS, as it uses the --in-place option, which does not exist in MacOS's sed.

## Possible Fix
Use -i option, which is a synonym for --in-place and behaves identically.

## Your Environment
* Operating System and version (desktop or mobile): MacOS Sierra (10.12.4)

[2017-04-20 15:50] dselman commented on #709
Fixed

[2017-04-20 15:50] #709 closed

[2017-04-20 18:16] dselman commented on #696
That sounds correct to me.

[2017-04-20 19:28] sstone1 opened #717 "Cannot generate a REST API from a complex model"
## Context

Trying to generate a REST API from the [vehicle-lifecycle-model](https://github.com/hyperledger/composer-sample-models/tree/master/packages/vehicle-lifecycle-model)

## Expected Behavior

A REST API should be generated without errors.

## Actual Behavior

$ composer-rest-server -p hlfabric -n vehicle-lifecycle-network -i admin -s dontcare
Discovering types from business network definit

[2017-04-20 19:31] sstone1 commented on #717
The model has:

dvla.cto:
[code]

base.cto
[code]

When the LoopBack model generator tries to generate a LoopBack model for the `gender` property, it tries to resolve the type Gender in the `dvla.cto` file. This file does not import the Gender type, nor should it. We should use the file that contains the reference to the type.

[2017-04-20 20:55] #717 closed

[2017-04-21 13:51] dselman commented on #696
I've refactored the code and added tests. Existing instances should continue to work and can be deserialized. On serialization their relationships will be rewritten to use the new URI format.

The only breaking change is in the format of data returned by the REST API. The relationships returned will have the new URI format, rather than the old format (just an id).

[2017-04-21 13:55] 14gracel commented on #240
Fixed in PR #721

[2017-04-21 13:55] #240 closed

[2017-04-22 07:36] sstone1 commented on #670
Removed HLFv1 as this is not specific to the HLFv1 support.
We need to bind the deployment identity (or other identity) to a participant as part of deployment, and then enforce administrative access control based on that.
We don't have administrative access control yet so we need another story to implement that 😉
Adding architecture tag as this requires design + discussion.

[2017-04-22 07:41] sstone1 opened #722 "As a business network developer, I can enforce system level access control"
This work is blocked by:
#920 As a contributor, I need to model core types in a system namespace

Currently we have no system level access control; there is no control over:

- Who can update the business network definition
- Who can perform CRUD operations on registries
- Who can issue and revoke identities

We need to resolve this. I would like to see us use the same ACL syntax used for the reso

[2017-04-22 07:49] sstone1 commented on #44
@14gracel I know you did _some_ work on this, where is the result of that work? In your fork?
@dselman I'd like to propose we just close this off and focus on the vehicle lifecycle network for now, and re-visit animal tracking if/when we feel like spending the resource on it.

[2017-04-22 07:50] sstone1 commented on #43
@mbwhite what's the status of this one? I thought you did make a start on it - I didn't think it was that big... 😉

[2017-04-22 08:58] dselman commented on #694
Is this work now complete?

[2017-04-22 10:52] #696 closed

[2017-04-22 12:04] dselman commented on #601
In theory we don't need to look at instances to know whether they are incompatible -- we can just compare two models to determine whether they are binary compatible.

[2017-04-23 06:03] opiepj commented on #694
@dselman Yes, was merged by @sstone1, closing repo. I'll open another issue sometime next week adding on the home page as @Jakeeyturner requested.

[2017-04-23 06:03] #694 closed

[2017-04-24 09:45] sstone1 opened #724 "Rebrand website and documentation to reflect Hyperledger Composer naming"
All content on this website [http://fabric-composer.github.io](http://fabric-composer.github.io) needs to reflect our new name, Hyperledger Composer, now that we are officially part of Hyperledger. Further issues will be raised for the rebranding of the Playground etc.

Related:
[#725 Rebrand playground to reflect Hyperledger Composer naming](https://github.com/hyperledger/composer/issues/725)

I

[2017-04-24 09:55] sstone1 opened #725 "Rebrand playground to reflect Hyperledger Composer naming"
The playground needs to reflect our new name, Hyperledger Composer, now that we are officially part of Hyperledger.

Related:
[#724 Rebrand website and documentation to reflect Hyperledger Composer naming](https://github.com/hyperledger/composer/issues/724)

This is currently **blocked** whilst I confirm the branding requirements for user interface, as opposed to the website and documentation.

I

[2017-04-24 10:09] mbwhite commented on #608
I've pushed some updates to this

[2017-04-24 10:09] #608 closed

[2017-04-24 10:11] EdProsser commented on #724
I've created a conref in all the documents I've edited which controls the product name, it won't catch them all, but I can change that variable, then use a find and replace to get the rest and add the conref variable there as well.

Glad that putting that variable in turned out to be a good idea ^^

[2017-04-24 10:12] EdProsser commented on #607
Quick fix, will sort it.

[2017-04-24 10:25] sstone1 commented on #161
Duplicate of #213.

[2017-04-24 10:25] #161 closed

[2017-04-24 14:35] nklincoln commented on #179
Closing following most recent additions and confirmations from above.

[2017-04-24 14:35] #179 closed

[2017-04-24 15:09] samjsmith commented on #387
@winslet Hey Sam, looking at this one, in Section 3 above `3. Selecting import now allows users to create an empty business network`, I don't think that the 'Empty Business Network' option has been implemented yet has it?
It isn't there in the latest code that I've just run so I think that perhaps we need a separate issue for that 'allow an empty business network to be created via the 'Create/Repl

[2017-04-24 15:11] winslet commented on #387
@samjsmith yup you're right, I agree we need to create an issue for making a blank business network (apologies - for some reason I had it in my head that there was already one) 🙈

[2017-04-24 15:35] samjsmith commented on #387
Cool thanks @winslet  :)
I'll create one now and link it in here

[2017-04-24 15:43] #659 closed

[2017-04-24 16:27] samjsmith opened #728 "As an end user I can create a blank/empty business network"
as per issue https://github.com/hyperledger/composer/issues/387 we need to allow users to create new business networks via the 'Import/Replace' link in the playground

## Context
https://github.com/hyperledger/composer/issues/387

## Expected Behavior
See the hi-fis in https://github.com/hyperledger/composer/issues/387

[2017-04-24 19:56] sstone1 commented on #725
@winslet I have updated the requirement from Hyperledger, can you work your design magic please?

[2017-04-24 20:00] sstone1 opened #729 "Rebrand samples to reflect Hyperledger Composer naming"
The samples needs to reflect our new name, Hyperledger Composer, now that we are officially part of Hyperledger.

Related:
[#724 Rebrand website and documentation to reflect Hyperledger Composer naming](https://github.com/hyperledger/composer/issues/724)
[#725 Rebrand playground to reflect Hyperledger Composer naming](https://github.com/hyperledger/composer/issues/725)

The README.md files are the

[2017-04-24 20:27] sstone1 opened #730 "Rebrand Visual Studio Code plugin to reflect Hyperledger Composer naming"
The Visual Studio Code plugin needs to reflect our new name, Hyperledger Composer, now that we are officially part of Hyperledger.

Related:
[#724 Rebrand website and documentation to reflect Hyperledger Composer naming](https://github.com/hyperledger/composer/issues/724)

Many things need updating here:
The README.md or whatever is used for the marketplace page
Fabric Composer -> Hyperledger Comp

[2017-04-24 20:32] sstone1 opened #731 "Rebrand Atom plugin to reflect Hyperledger Composer naming"
The Atom plugin needs to reflect our new name, Hyperledger Composer, now that we are officially part of Hyperledger.

Related:
[#724 Rebrand website and documentation to reflect Hyperledger Composer naming](https://github.com/hyperledger/composer/issues/724)

Many things need updating here:
The README.md or whatever is used for the marketplace page
Composer -> Hyperledger Composer
package.json nee

[2017-04-25 08:05] davidkel commented on #669
- Can you pass environment variables to a chaincode container ?
- Do we want to be storing the debug level in the world state or just a memory thing ? If we don't then how do we get debug running at initialisation time ?
- Assume comms will be through the invoke or query interfaces depending on whether we store in world state or memory.

[2017-04-25 09:29] caroline-church commented on #666
@EdMoffatt @14gracel can this issue now be closed or is there more to do, if so what else do we need to do?

[2017-04-25 10:44] winslet opened #734 "Add "V1.0 experimental Support" callout to the homepage"
We need to call out that we are going to be supporting v1.0 experimentally in a release soon. This should be displayed on the homepage.

Current copy for callout:

@dselman will we be making a "release notes" page/content anywhere for this (so we can point our users somewhere)?

[2017-04-25 10:45] winslet commented on #734
Example first pass on the visuals:

![image](https://cloud.githubusercontent.com/assets/13980028/25381686/a220bd2a-29ac-11e7-9cbb-def873adad7d.png)

[2017-04-25 13:31] mahoney1 opened #735 "Correct / update the Business Network definition pages"
Need to correct missing context, typos or correct cmd lines (where appropriate) in (minimally) the pages below under 'Context':

## Context

Pages to change:
https://fabric-composer.github.io/business-network/getting-started-coding-bnd.html
https://fabric-composer.github.io/business-network/deploybusinessnetwork.html
https://fabric-composer.github.io/business-network/bnd-define.html
https://fabric

[2017-04-25 13:44] winslet commented on #734
Done: https://github.com/hyperledger/composer/pull/737

Current "release notes" link goes to https://github.com/hyperledger/composer/releases

[2017-04-25 13:46] winslet commented on #724
Website done: https://github.com/hyperledger/composer/pull/737

[2017-04-25 14:09] EdMoffatt commented on #666
I don't know - the issue is pretty light on what's actually being worked ;)  I think the plan was to move things to "Done" when we're done with them, and then close them at the end of an iteration.

On this one though, looking at the referenced PR, I see it getting reverted, so I'm not sure this is done.  I'm not able to add any detail on what needs doing here - @14gracel do we still need this iss

[2017-04-25 14:17] EdMoffatt commented on #725
Assigning this one to @Tobias-Hunter - Toby, can you please take a thorough pass through the current UI and identify anywhere that we need to change some text?  This might also be a good time to swap out the "Welcome to Playground" image which has "Fabric" written on the blocks - as an interim step before we do the "catalog" style rework there.  I know you had some ideas around that, so please com

[2017-04-25 14:46] Tobias-Hunter commented on #725
Does this include Samples within the Playground? 🤔

[2017-04-25 14:48] Tobias-Hunter commented on #725
Update: Samples are covered in #729 by @nklincoln

[2017-04-25 15:03] Tobias-Hunter commented on #725
- [ ]  Entering the playground in the header & copy:

![screen shot 2017-04-25 at 15 43 10](https://cloud.githubusercontent.com/assets/25635381/25391782/f3adadac-29ce-11e7-8913-f430cf60ab68.png)

- [ ]  Top-left header branding:

![screen shot 2017-04-25 at 15 46 46](https://cloud.githubusercontent.com/assets/25635381/25391788/f7b5aae4-29ce-11e7-9a91-0aa76a214ad1.png)

- [ ] Connection Profile pag

[2017-04-25 15:50] Tobias-Hunter opened #739 "As a user I am able to Submit a Transaction on an individual Asset"
In the Test tab & creating a transaction flow: rather than submitting a transaction through the “Submit Transaction” button, on each Asset the user will be able to submit transactions that could be performed on this particular Asset & then we’d pre-fill information based upon that asset.

.XD Click-through to explain:

Transaction Flow: https://xd.adobe.com/view/e89120cc-6c9d-40f6-9ce5-25bc0f8fb22

[2017-04-25 15:57] Tobias-Hunter commented on #739
Rather than "Available Transactions" the copy of the button could perhaps be "Related Transactions" 😛

[2017-04-25 16:20] EdProsser commented on #735
@mahoney1 Up to you whether you want to book some time to go over this in a meeting room or if you want to send me some notes/details on what specifically is incorrect so I can fold it into my incoming changes.

[2017-04-26 08:44] caroline-church opened #741 "As a playground user i can switch connection profiles and choose an identity"
When a user switches connection profiles they should be able to choose which identity they wish to use

[2017-04-26 08:51] #711 closed

[2017-04-26 09:08] markcastle3 commented on #620
@sstone1 could you break this down into smaller issues

[2017-04-26 09:21] caroline-church commented on #66
@sstone1 can you break this down into stories please

[2017-04-26 09:25] winslet opened #743 ""Unstable" build does not pull in any CSS changes for docs & homepage"
## Context

When pushing updates to the docs and homepage, any CSS changes do not go in. HTML is updated and works but any new CSS does not.

The CSS does appear when a release cut is done, but for testing purposes we're kinda guessing.

## Expected Behavior

CSS gets updated when an unstable build happens.

## Actual Behavior

CSS does not get updated.

## Possible Fix

## Steps to Reproduce

1.

[2017-04-26 09:39] caroline-church opened #744 "As a playground user i can create a v0.6 connection profile"

[2017-04-26 09:40] caroline-church opened #745 "As a playground user i can create a v1.0 connection profile"

[2017-04-26 09:40] caroline-church opened #746 "As a playground user i can view a list of my connection profiles"

[2017-04-26 09:41] caroline-church opened #747 "As a playground user i can view a v0.6 connection profile"

[2017-04-26 09:41] caroline-church opened #748 "As a playground user i can view a v1.0 connection profile"

[2017-04-26 09:41] caroline-church opened #749 "As a playground user i can edit a v0.6 connection profile"

[2017-04-26 09:41] caroline-church opened #750 "As a playground user i can edit a v1.0 connection profile"

[2017-04-26 09:42] caroline-church opened #751 "As a playground user i can delete a connection profile"

[2017-04-26 09:42] caroline-church opened #752 "As a playground user i can use a connection profile"
Required Test Additions:

- [x] Connection Profile Component **Sam**
- [x] Connection Profile Data Component **Jake**
- [x] Connection Profile Service **Mark**
- [x] Delete Connection Profile Component **Sam**

[2017-04-26 09:49] caroline-church opened #753 "As a playground user i can import a connection profile"

[2017-04-26 09:50] caroline-church opened #754 "As a playground user i can export a connection profile"

[2017-04-26 10:02] EdProsser commented on #724
@sstone1 All references are done in the docs. I've left links intact, as I'm not sure of their new addresses, and references in codeblocks as we don't want to tell people incorrect commands. Have been speaking with @mbwhite about the code references. Does this Issue also refer to ALL other website mentions of Fabric Composer?

[2017-04-26 12:40] dselman opened #755 "Yeoman Angular generator assumes composer-rest-server using namespaces"
## Context
If you run the composer-rest-server and select the option to not use namespaces then the generated Angular application does not work (due to 404s contacting the composer-rest-server)

## Expected Behavior
Generated Angular app works, irrespective of whether the composer-rest-server is

## Actual Behavior
Generated app does not display any data. No error messages.

## Possible Fix
Update

[2017-04-26 12:57] dselman opened #756 "As a user I can model events"
## Context
Need to be able to define the structure of events in the Composer model file.

[code]

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Existing issues

- [x] [Stack Overflow issues](http://stackoverflow.com/tags/fabric-composer)
- [x] [GitHub Issues](https://github.com/hyperledger/composer/issues)
- [x] [Rocket Chat history](https://chat

[2017-04-26 13:06] 14gracel opened #757 "Playground reports that both .cto and .js files are found in the /lib directory"
In Playground, the the 'Files' section says that all .cto and .js files are found in /lib, but when the network is exported, .cto files are found in /models

## Context
It is misleading to to new users, as they will believe that .cto and .js files belong in the same directory

## Expected Behavior
Models files should say `models/model.cto` rather than `lib/logic.js`

## Actual Behavior
![image](ht

[2017-04-26 14:54] jt-nti opened #758 "Breaking change in @ng-bootstrap/ng-bootstrap"
The playground declares a "Compatible with version" dependency on `@ng-bootstrap/ng-bootstrap` unfortunately the latest version, released on 25th April includes a breaking change:

The playground UI doesn't come up (gets stuck on 'Loading..') with an error in the console:

`Template parse errors: "let-" is only supported on template elements...`

## Possible Fix

A couple of options:

1. Fix the v

[2017-04-26 15:09] caroline-church commented on #758
I think we should do option one for this release then, do option 2 after

[2017-04-26 16:14] dselman opened #763 "Update the Modeling Language documentation to include events"
All functionality introduced under epic #66 needs to be added to the user documentation.
Need to cover:

- [ ] High level introduction; what is an event, what can they be used for?
- [ ] How to model events using the new modelling language features?
- [ ] How to publish events from a transaction processor function?
- [ ] How to subscribe to events from a client application?

[2017-04-26 16:17] EdProsser commented on #724
As the docs side of this is done, I'm unassigning myself for now. :)

[2017-04-26 16:23] jthub commented on #758
Option 1 delivered in PR #759

[2017-04-27 08:51] #744 closed

[2017-04-27 08:51] #745 closed

[2017-04-27 08:51] #746 closed

[2017-04-27 08:51] #747 closed

[2017-04-27 08:51] #748 closed

[2017-04-27 08:51] #749 closed

[2017-04-27 08:51] #750 closed

[2017-04-27 08:51] #751 closed

[2017-04-27 08:51] #753 closed

[2017-04-27 08:51] #754 closed

[2017-04-27 08:53] Jakeeyturner commented on #752
Technically using connection profile works, although some work needs to be done in issue #741 before this should be closed.

[2017-04-27 09:09] Tobias-Hunter commented on #657
Current thinking on the Splash page, some of the other functionality will be reflected in other issues.
.XD Click-through: https://xd.adobe.com/view/10a8bbf1-6f7d-4047-b44c-6aa2e30376fe/
Any questions, shout up! 🤘🏻

[2017-04-27 09:15] mahoney1 commented on #735
hi Ed, as discussed, I've made the changes to docs on my local fork, and you can incorporate the edits as you add in your own to the master.

[2017-04-27 09:42] #655 closed

[2017-04-27 09:45] #666 closed

[2017-04-27 10:08] jthub commented on #658
Moved identity test todo list to #533

[2017-04-27 10:51] dselman opened #764 "As a user I can supress methods from the REST API generated by composer-rest-server"
## Context
In some scenarios people would like to supress some of the CRUD methods generated for asset, participants, transactions.

## Expected Behavior
Should be able to configure the composer-rest-server so that not all methods are exposed.

## Actual Behavior
The REST methods generated are hard coded into the composer-rest-server.

## Possible Fix
Some sort of configuration file that can be us

[2017-04-27 16:44] dselman opened #769 "As a user I would like to bulk load assets and participants"
## Context

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Existing issues

- [ ] [Stack Overflow issues](http://stackoverflow.com/tags/fabric-composer)
- [ ] [GitHub Issues](https://github.com/hyperledger/composer/issues)
- [ ] [Rocket Chat history](https://chat.hyperledger.org/channel/fabric-composer)

## Context

## Your Environment

* Version

[2017-04-27 16:59] nklincoln commented on #658
Moved connection profile test todo list to #752

[2017-04-27 18:46] #728 closed

[2017-04-27 21:25] fenglianxu opened #771 "As a composer application developer I want to start with the same sample application that supports both HLF V0.6 and HLF V1.0"
Currently we have two getting started sample applications for HLF V0.6 and HLF V1.0 respectively.
The sample application project itself should be independent from the underneath Fabric runtime environment.

@mbwhite @dselman and myself had an initial discussion to move this script to the composer-cli project but this solution has some drawbacks:

1. This needs to test existing project composer-cli

[2017-04-28 08:11] nklincoln opened #774 "Doc errors"
## Context

There are some errors in the tutorial docs

## getting started:

https://fabric-composer.github.io/tutorials/getting-started-playground.html

If everything started OK, you should be able to access Fabric Composer Playground by clicking on this link: http://localhost:8080

That’s not true… It’ll be available at docker-machine-ip:8080

##  Tutorial

https://hyperledger.github.io/composer

[2017-04-28 08:50] dselman commented on #771
Basically we're going to create a GitHub repo called something like 'fabric-dev-servers' with hlfv1 and hlfv06 directories. Within each dir we will put the config for the respective dev server. These are completely independent of Composer, and we will work with the Fabric team to get the repo checked in and managed by the Fabric team. Let's show them what we have and discuss on the call on Tues. W

[2017-04-28 08:54] mbwhite commented on #771
I'm creating these locally on my machine at present.

[2017-04-28 08:55] EdProsser commented on #774
I'll fold these changes into my next PR, ETA: 30 minutes or so?

[2017-04-28 08:57] dselman commented on #771
Thanks. It also gives us the opportunity to have a nice README.md that describes the config for each server, options etc.

[2017-04-28 09:17] sstone1 opened #775 "HLFv1 chaincode sporadically crashes"
The HLFv1 system tests sporadically fail with this crash:

[code]

[2017-04-28 09:19] davidkel commented on #669
More thoughts
- Environment variables don't look like they come through except the ones the peer decides are appropriate. But one of those is the shim logging level, so we can make use of that "CORE_CHAINCODE_LOGLEVEL"
- If we have a chaincode invoke command to change logging levels dynamically how would we get logging for the init process ? Not much help for an already deployed fabric runtime and

[2017-04-28 09:21] Tobias-Hunter commented on #725
Also, the illustration that is there says Fabric Composer. I will produce an unbranded illustration!

[2017-04-28 09:41] Tobias-Hunter opened #776 "User receives a success message if they cancel the export"
## Context
If a user goes to export a .BNA from within the Playground & they cancel when in their file browser they still receive the success message!

## Expected Behavior
They shouldn't get a success message if they cancel.

## Actual Behavior
They get a success message!

## Possible Fix
Remove success message!

<img width="717" alt="screen shot 2017-04-28 at 10 37 10" src="https://cloud.githubu

[2017-04-28 09:47] nklincoln opened #777 "Link checking within docs should be automated"
Related to #449

Documentation links need to be checked via a tool as part of an automated test. This needs to be part of the test pipe-line so that we can gain confidence in the documentation quality with regards to internal linking.

## Context
Issues are being raised relating to broken links; this can be avoided by incorporating a link checker within the automated tests

## Expected Behavior
If

[2017-04-28 09:48] Tobias-Hunter opened #778 "Submit Transaction dropdown repeats first item"
## Context
Submit Transaction dialog dropdown menu repeats the first item. (See pictures for reference)

## Expected Behavior
The dropdown shouldn't repeat the first item.

## Actual Behavior
The dropdown repeats the first item.

## Possible Fix
Remove the first item in the dropdown.

<img width="335" alt="screen shot 2017-04-28 at 10 45 13" src="https://cloud.githubusercontent.com/assets/25635381

[2017-04-28 10:34] nklincoln opened #780 "prereqs install script needs to be updated for docker install"
Docker installation process has changed, making a breaking change for Ubuntu 16.10+

Need to edit the installation method to account for this in the prereqs.sh file

## Context
New user should be able to install all prereqs via the provided script if using Ubuntu 16.10

## Expected Behavior
Docker gets installed and script completes

## Actual Behavior
Script fails at docker install

## Possible F

[2017-04-28 13:47] davidkel opened #784 "Port HLF v0.6 runtime to DukTape."
Port the javascript engine currently used in the chaincode for hyperledger fabric v0.6 from Otto to DukTape

[2017-04-28 17:29] davidkel opened #788 "Build fails occasionally on running hlfv1 system tests"
[code]
This could be related to the change to duktype. It should be investigated though to see what the intermittent cause is.

[2017-04-28 17:32] sstone1 commented on #788
Duplicate of #775 HLFv4 chaincode sporadically crashes

[2017-04-28 18:44] davidkel commented on #775
So duktape V0.6 version also failed with
[code]

[2017-04-28 18:45] #788 closed

[2017-04-28 20:15] sstone1 commented on #775
Should hopefully be resolved by new levels of go-duktape v3 and duktape v2.1.0 introduced in https://github.com/hyperledger/composer/pull/790.

[2017-04-28 20:15] #775 closed

[2017-04-29 09:06] nklincoln opened #791 "Tutorial/Getting Started Path Testing"
We provide/prescribe routes to get started with the Hyperledger Composer within the documentation. This prescribed route takes a user through installation and various tutorials targeting their local machine.

These routes into exploring the offering are clearly very important as they will provide part of the initial user experience.

At present these entrance points are only tested manually - this

[2017-04-29 11:56] MikeC711 opened #792 "newConcept has a doc issue specifying 3rd parm"
## Context
At https://hyperledger.github.io/composer/jsdoc/module-composer-runtime.Factory.html#newConcept__anchor  the newConcept shows args (ns, type) which is good, the sample just below, however, shows (ns, type, arg) where arg is a string.  The arg should not be there.

## Expected Behavior
Remove 'Rocket_1' or whatever the value of that arg was ... from the example.

## Actual Behavior
Just

[2017-04-29 18:41] sstone1 commented on #292
I've deleted these integration tests as they are now redundant. I recently added full testing for the REST server by using `chai-http` and the embedded runtime. I started adding full testing for the LoopBack connector (by driving the PersistedModel methods) and that can be seen here: /Users/sstone1/git/composer/packages/loopback-connector-composer/test/assets.js

Closing issue.

[2017-04-29 18:41] #292 closed

[2017-04-30 05:48] torresjeff opened #794 "Error when deploying bna file to Bluemix Blockchain service"
## Context
I'm able to generate my archive file, but when I run the command to deploy it I get the following error:

`sdk-demo` is a folder I created under /home/jeff/.composer-connection-profiles/sdk-demo, and contains a `connection.json` file with the following content:

`{
    "type": "hlf",
    "membershipServicesURL": "grpcs://6175a0e332ef47a3b87dc1056697e76b-ca.us.blockchain.ibm.com:30001",

[2017-04-30 09:22] davidkel commented on #784
This isn't going well. Locally I have had one example of a single test failure but the logs didn't show anything. Since then I have been getting SIGSEGVs on a simple call to push a string to the duktape stack. I implemented a workaround (which isn't the right soln and doesn't give an indication into the actual problem) and now the all the tests pass on my machine, but still cannot get a clean buil

[2017-04-30 09:27] davidkel commented on #794
Please see
http://stackoverflow.com/questions/42309207/fabric-composer-integration-with-bluemix-blockchain-service
your connection profile is missing the certificate and certificatePath definition that is required to use secure grpc communications defined in your connection profile.
The service provider (bluemix) should have provided the certificate information as part of the connection details.

[2017-04-30 13:10] belltanellc opened #795 "Getting started sample app against fabric v1.0 fails to connect."
## Context
Following getting started against Fabric v1.0. Install of composer-sample-applications-hlfv1 seems fine but npm test fails. davidkel suspects a bug and asked me to raise an issue.

## Expected Behavior
First expected connection.json created.
Then expected npm test to run successfully.

## Actual Behavior
No connection.json created (or documented directory).
Manually created connection.j

[2017-04-30 15:15] torresjeff commented on #794
Hi David, you were right. Now, from what I see on the defaultProfile, there is a "networks" object, where does  this come from? Is it the chaincide ID for the deployed network?

[2017-05-01 09:44] dselman commented on #756
Implemented.

[2017-05-01 09:44] #756 closed

[2017-05-01 09:49] dselman opened #796 "As a user I can generate sample data that excludes optional properties"
## Context
When a user presses the "Generate sample data" link in the Playground the same data includes all properties, including optional properties. It would be very useful to be able to optionally exclude the sample generation on optional properties.

## Expected Behavior
User can click a checkbox or similar to generate data for optional properties. The default generation should only generate s

[2017-05-01 09:52] davidkel commented on #795
I tried this myself from the latest version, and it failed as well. Although it did create a profile, because I had other containers running the following output was seen
[code]
So we see here that the hlf v1 containers are not started. The offending line is in the `scripts/start-hyperledger.sh' file
[code]
here docker rm will fail to remove all containers as some are still running a consequence o

[2017-05-01 10:58] m-g-k commented on #383
Hi @dselman . I'm happy to have a look at this one if you want to assign it to me...

[2017-05-01 14:46] belltanellc commented on #795
Built new server. Used your prereqs-ubuntu.sh. (had to install node-gyp manually). npm install fails at:
Error: Failed to load connector module "composer-connector-hlfv1" for connection profile "hlfv1
npm test did build connection.json

npm install
...
Successfully joined channel.
Successfully joined peers in organization "peerOrg1" to the channel
cd ../..

Creating Business Network Archive

Node

[2017-05-01 15:45] davidkel commented on #795
I think the problem with your new server is that you are running as root. npm doesn't work correctly if you run as root and node-gyp is one of them. This will be the cause of your problem as the error indicates that node modules have not been resolved or built correctly.
I suggest trying again but use a normal user account

[2017-05-01 17:51] jdockter commented on #764
This would be very useful +1

[2017-05-01 17:59] jdockter commented on #771
For v1 will that also include creating and joining channels, couchDB config...other items like orderer and CA config, system chain code, etc...  Just be good to know of what can and can't be done with this new repo compared to what Fabric recommends in their getting started here, http://hyperledger-fabric.readthedocs.io/en/latest/getting_startedv2.html

[2017-05-02 07:18] sstone1 opened #801 "Access controller does not apply rules to participant subtypes"
The ACL language allows for a participant namespace, type, or instance to be specified:

[code]

If the specified type is extended by a subtype, for example `participant Regulator extends User`, then the access controller will not apply rules for Users to Regulators. This is because it does a match on namespace and type name, rather than checking the type hierarchy. This forces Composer developers

[2017-05-02 07:46] davidkel opened #803 "Various issues with tutorial for playground"
The tutorial for playground
https://hyperledger.github.io/composer/tutorials/getting-started-playground.html
has the following issues
- It talks about support for node 4.6.2 and gives examples but node 4 is now not supported.
- It says to use sudo but you should not be using sudo
- needs some proofreading for text and layout, for example
[code]

[2017-05-02 07:49] davidkel opened #804 "quickstart layout is difficult to read"
For the quickstart
https://hyperledger.github.io/composer/installing/quickstart.html
the procedure section is particularly difficult to read. The commands a user should execute should be placed on individual lines especially as they include the linux command line prompt of '$'.

[2017-05-02 07:52] davidkel commented on #794
@torresjeff I see from RocketChat that you have been able to deploy to bluemix. I don't believe the timeout value was the cause of the problem. @sstone1 can you confirm you tried it with a timeout of 600 and it worked for you ?

[2017-05-02 08:36] sstone1 commented on #764
@jdockter please can you explain why this would be useful? I'm struggling to understand how much benefit this would actually bring. We should be able to apply authentication + ACLs to the REST APIs and stop users being able to perform CRUD operations on assets that way.

[2017-05-02 09:20] EdProsser commented on #724
@sstone1 Is there anymore work which needs doing related to this, or can it be closed?

[2017-05-02 09:20] #607 closed

[2017-05-02 09:20] #774 closed

[2017-05-02 09:20] #667 closed

[2017-05-02 09:39] samjsmith commented on #706
I've just exceeded my rate limit and when I select the import/replace option, I get the correct error message from the Playground so I don't think that this problem is caused by that.
@winslet does it still happen for you with the latest code?

[2017-05-02 09:55] markcastle3 commented on #620
@sstone1 how is this progressing?

[2017-05-02 10:01] samjsmith opened #805 "Broken link in Playground"
## Expected Behavior
The link should be valid: https://fabric-composer.github.io/tasks/github-oauth.html

## Actual Behavior
you get redirected here: https://hyperledger.github.io/composer/404.html

## Steps to Reproduce
1. Connect to a playground instance
2. Exceed your API limit with GitHub
3. Observe the error message
4. Click the link provided.

## Context
I was trying to learn how to setup OA

[2017-05-02 10:02] samjsmith commented on #805
@EdProsser could you let me know what this link should be please Ed and I can make the code change?

[2017-05-02 10:06] EdProsser commented on #805
Should be this: https://hyperledger.github.io/composer/managing/github-oauth.html

[2017-05-02 10:08] EdProsser commented on #803
Adding this to _the list_.

[2017-05-02 10:09] EdProsser commented on #804
This is a formatting issue, and an insidious one. Will tinker.

[2017-05-02 10:31] EdMoffatt commented on #533
Feel this issue should explicitly state...

We're not going to have the Identity Registry yet, and therefore some modifications to the designed behaviour are required.

@jt-nti - would it be possible to attach some screengrabs of the proposed implementation we're landing on here, so that they're available for discussion from the community?  Anyone feeding back on the latest attached designs will b

[2017-05-02 11:52] dselman opened #807 "As a user I can edit event definitions in VSCode"
## Context
The CTO language has been extended to support events. The parser and syntax highlighter in VSCode needs to be updated.

## Expected Behavior
Parse and syntax highlight CTO files containing events.

## Actual Behavior

## Possible Fix

## Steps to Reproduce
1. Open a CTO file containing an event in VSCode. e.g. ./packages/composer-common/test/data/model/carlease.cto
2.
3.
4.

## Existing

[2017-05-02 11:55] markcastle3 commented on #658
@nklincoln looks like you are split this out into separate issues, do you need some helping doing this ?

[2017-05-02 12:02] markcastle3 commented on #611
Speaking to @sstone1  this issue can be closed with a follow on story raised for phase 2 work.

[2017-05-02 12:02] #611 closed

[2017-05-02 12:18] #805 closed

[2017-05-02 12:47] EdMoffatt commented on #706
Quick design triage - Sam W to pull down latest code and test whether he's still seeing this

[2017-05-02 12:53] #492 closed

[2017-05-02 12:56] EdMoffatt commented on #724
This one isn't done yet.  It's sort of acting like an Epic really - there are a bunch of things included in completing this one that we still need to close out...

- [ ] Update all social links, hashtags, stack overflow tags etc. in docs, homepage and community page (extending the work on #737 )
- [ ] Close out #725 to make all the identified required changes in the Playground
- [ ] Find and fix a

[2017-05-02 13:01] Tobias-Hunter commented on #725
<img width="338" alt="sandbox tmh v0 1 2x" src="https://cloud.githubusercontent.com/assets/25635381/25618678/c4f4e428-2f3f-11e7-91c1-e26db7fc3e04.png">

[2017-05-02 13:16] nklincoln commented on #213
Initial delivery complete, though I believe there is scope for improvement in the writing style/quality. It is possible that we would prefer to use the git wiki to document all the process instead of using a set of md files.

We should also look into breaking out contribution aspects that are scoped to UI/Runtime/Doc

[2017-05-02 13:16] #213 closed

[2017-05-02 13:20] winslet commented on #724
fix for first bullet above going in on PR #809

[2017-05-02 13:23] bestbeforetoday opened #810 "QA doc sed command doesn't run on Ubuntu"
The sed command included in contrib-notes/weekly-qa-validation.md runs on MacOS but not on Ubuntu Linux.

The argument to the -i option needs to be supplied with no space between the option and argument, e.g. "-i.ORiG" rather than "-i .ORIG" to work on both MacOS and GNU versions of sed.

[2017-05-02 13:24] EdMoffatt commented on #387
Doing a little "design tag" triage - looks like this one needs assigning out to someone as the next step?  (The sidebar about blank business network has resolved but there is still the renaming piece still needs someone assigned) - who should look at this, @sstone1 ?

[2017-05-02 13:30] nklincoln opened #811 "Enhance Contributing Guide"
The contributing guide, worked on in #213, could be nicely extended/enhanced to create a smoother transition into working on Hyperledger Composer

It may be that we want to transfer the contributing guide content to the Git Wiki

It would also be nice to have separate paths for UI/Runtime/Doc contributions

[2017-05-02 14:05] #810 closed

[2017-05-02 14:12] EdProsser commented on #28
This is a duplicate of #255. So I'm gonna close this one and work in the other.

[2017-05-02 14:12] #28 closed

[2017-05-02 14:13] EdProsser commented on #255
I'm now working on this properly. Current list of glossary terms:
[code]

[2017-05-02 14:18] winslet commented on #804
@EdProsser I can help you get a local build of the docs running. I put some styling changes in for our code snippets across the rest of the docs a while back, however for some reason this page has not changed. I am assuming that this is due to the markdown being slightly different? Code snippets across the rest of the site are fine it seems.

[2017-05-02 14:29] winslet commented on #706
Seems to be working now - will close this. Invalid. 👍

[2017-05-02 14:29] #706 closed

[2017-05-02 14:32] winslet opened #815 "Spinning "load" button has a different size when selected."
Button changes in height when selected on load:

**From this:**
![image](https://cloud.githubusercontent.com/assets/13980028/25622477/6c4ba78c-2f4c-11e7-8a25-23ddcd977825.png)

**To this:**
![image](https://cloud.githubusercontent.com/assets/13980028/25622450/5999bdae-2f4c-11e7-9cbb-2339adf0e1ce.png)

It should remain the same height at all times. Looks to be a relatively simple CSS bug.

[2017-05-02 14:54] markcastle3 commented on #622
@14gracel do we need to link any issues against this?

[2017-05-02 15:03] mbwhite commented on #771
An updated set of Getting Started Instructions are listed at
 https://github.com/mbwhite/documents/blob/master/NEW-GettingStarted.md

The current state is
* that Getting Started repository will be used for both v0.6 and v1.0 Fabric versions.
* composer-cli does not refer to Fabric
* A new repo is defined that contains scripts based on the Fabric's Sys Tests that start up the Fabrics instances. Thi

[2017-05-02 15:03] caroline-church commented on #543
@fenglianxu can you create issues for the tasks you identified for this please?

[2017-05-02 15:11] markcastle3 commented on #623
@EdMoffatt do we need to review/add the design for this ?

[2017-05-02 15:24] EdMoffatt commented on #623
Yup, we sure do @markcastle3 - I'll assign to myself to get that sorted

[2017-05-02 15:31] bestbeforetoday commented on #228
Think this should be a scenario we deal with as part of identity registry. This will remove (or change) the use of local storage, so making any fix prior to that redundant.

[2017-05-02 15:34] bestbeforetoday opened #817 "As a user, I can view, issue, and revoke identities for participants in a business network"
This work is blocked by:
#920 As a contributor, I need to model core types in a system namespace

Currently, issued identities the identity registry are not exposed to users outside of the `issueIdentity` and `revokeIdentity` API methods in the [client API](https://github.com/hyperledger/composer/blob/master/packages/composer-client/lib/businessnetworkconnection.js#L415). These methods drive [runt

[2017-05-02 15:35] 14gracel commented on #730
PR is waiting to be merged, unsure how to test and move to market place. Will research tomorrow

[2017-05-02 15:36] 14gracel commented on #731
PR is waiting to be merged, unsure how to test and move to market place. Will research tomorrow

[2017-05-02 15:37] caroline-church commented on #313
@EdProsser Is this in your backlog of stuff to do?

[2017-05-02 15:44] caroline-church commented on #460
@winslet #706 is now closed so this isn't blocked anymore

[2017-05-02 15:46] caroline-church commented on #544
@davidkel Is this still an issue or can it be closed?

[2017-05-02 15:50] caroline-church commented on #593
@sstone1 Can this issue be fixed or is it right that we can't catch the error. If we can't catch the error can we get fabric to fix it?

[2017-05-02 15:57] davidkel commented on #544
@caroline-church it is an issue for 0.6 if the participant doesn't exist. It's just a case of whether it can be fixed as it is a problem with 0.6 itself not returning errors. It may be possible to check the participant exists before trying to invoke the chaincode to link the identity with a user.
I haven't looked into whether that is possible and it won't be an issue on v1.0 as errors are returned

[2017-05-02 16:01] caroline-church commented on #677
@davidkel Can you track progress on this please and close when prereq fixed?

[2017-05-02 16:03] sstone1 commented on #544
@davidkel this is a widespread problem for HLF v0.6 - errors not being returned by the chaincode. We should not attempt to fix or workaround this problem, so closing. Reopen if you disagree 😉

[2017-05-02 16:03] #544 closed

[2017-05-02 16:04] caroline-church commented on #685
@davidkel @sstone1 What actions do we need to take to fix this?

[2017-05-02 16:07] jt-nti commented on #533
Current designs (as demoed on [last community call]9https://github.com/hyperledger/composer/wiki/Meeting-27th-April-20170)):

![image](https://cloud.githubusercontent.com/assets/3535067/25626774/7b584710-2f58-11e7-839f-df97cc3a0724.png)

![image](https://cloud.githubusercontent.com/assets/3535067/25627108/7307df34-2f59-11e7-9e48-427f942d3f99.png)

![image](https://cloud.githubusercontent.com/asset

[2017-05-02 16:10] bestbeforetoday commented on #691
I just tried this on the current version of Composer Playground deployed at [https://composer-playground.mybluemix.net/](https://composer-playground.mybluemix.net/) with Firefox 52.0.2 and I am not seeing the icons disappearing anymore. Do you still see this problem @Mohamoud, or can we close this?

[2017-05-02 16:13] fenglianxu opened #820 "As a user, I want to query a world-state in CouchDB with JS API via Composer"
This is a first step of the epic #543 to set up an example of business network and deploy it on the current released composer that runs the HLF V1 alpha 2 or beta release, then create some sample data, and finally query data via Couch DB.

This story is a starting point to test and workout the steps for config couchDB and create data, and query data with Couch DB.

This story is to define a JS API

[2017-05-02 16:27] caroline-church opened #821 "Make dropdowns prettier"
The current drop downs need better styling. They also need to make sure that the items don't look like they appear twice in the list #778

[2017-05-02 16:27] caroline-church commented on #778
@Tobias-Hunter I think this is the correct behavior as the one at the top is the one that is selected and the ones below are the ones you can select from. I have created issue #821 to update the styling of the drop downs

[2017-05-02 16:27] #778 closed

[2017-05-02 17:08] nklincoln commented on #725
closing following delivered changes

[2017-05-02 17:08] #725 closed

[2017-05-02 18:18] davidkel commented on #544
@sstone1 nope, don't disagree just wanted to confirm that we don't need to try to fix on v0.6. Thanks.

[2017-05-02 18:27] davidkel commented on #677
@caroline-church So they have made code changes, but it also introduced breaking api changes which were not obvious how to use in order to fix the issues.  I don't believe they fixed all the issues either with that code change and I was waiting for examples on how to use the new api to test. However when they did give examples they informed me there was another JIRA being worked on that changes th

[2017-05-02 20:48] torresjeff commented on #794
I know, it's weird. If i set the deploy timeout to 600, the composer cli says it failed, but in the blockchain service on bluemix I can see the chaincode was deployed and is running.

[2017-05-03 00:08] Mohamoud commented on #691
I haven't come across this issue since then.

On Tue, May 2, 2017 at 12:11 PM, Mark S. Lewis <notifications@github.com>
wrote:

--
*Mohamoud Egal*
*www.mohamoudegal.com <http://www.mohamoudegal.com/>*
*LinkedIn <https://www.linkedin.com/in/mohamoudegal>*

[2017-05-03 01:07] pospi opened #823 "Model files in dependencies not locateable when using `yarn link`"
I encountered issues with modules linked for development using Yarn, since yarn places these symlinks in ~/.config/yarn. Minimatch interprets all path wildcards as not matching (see https://github.com/isaacs/minimatch/issues/30) and as a result my builds are failing with `Failed to find a model file` when run in local development.

[2017-05-03 08:21] Jakeeyturner opened #824 "Angular Generator System Tests"
We should perform system tests on the Angular Application Generator to ensure that it is working as expected, and prevent regressions from entering.

## Context

## Expected Behavior

## Actual Behavior

## Possible Fix

Should add the Angular Application Generator system tests to the Travis CI pipeline
## Steps to Reproduce

1.
2.
3.
4.

## Existing issues

- [ ] [Stack Overflow issues](http://st

[2017-05-03 08:40] bestbeforetoday commented on #780
Let's target the latest release (currently 17.04) rather than 16.10 for a fix.

[2017-05-03 09:06] winslet commented on #460
Initial fixes should go in in PR #827

[2017-05-03 09:12] EdMoffatt commented on #533
This is looking sweet, @jt-nti :)  There are a couple of things I don't see, which I don't think are blocked by the Identity Registry not being available yet...

- [ ] Display name of current connection profile next to the globe icon
- [ ] Instead of the person icon, display the name of the current ID and a little "dropdown carat" (a filled triangle pointing down)
- [ ] Have the dropdown that open

[2017-05-03 09:28] dselman opened #828 "As a user I can easily edit complex business networks in Playground"
## Context
The left-nav in the Playground does not scale to BNs with lots of files.

## Expected Behavior
Provide a more scalable UI.

## Actual Behavior
No scrollbar. File names are hard to read as right truncated. Page gets very long.

## Possible Fix

## Steps to Reproduce
1. Import the vehicle-lifecycle-demo sample into the Playground
2. Look at the left-nav
3.
4.

## Existing issues

- [ ] [S

[2017-05-03 09:37] sstone1 opened #829 "Detect and throw errors for incompatible ES6/ES7 language features"
## Context

Otto and Duktape, the JavaScript interpreters (written in Golang) used by the Hyperledger Fabric runtimes do not support ES6 or ES7 language features. They are only ES5 compatible.

Unfortunately the embedded and web runtimes do support ES6 and ES7 language features. This leads to users building transaction processor functions with these language features that then fail with obscure er

[2017-05-03 09:44] jt-nti commented on #533
There is definitely some follow on work once there's something working. I think the first three items should be covered by number 4 on #649.

The participant is just a typeahead at the moment. As well as adding the planned dropdown behaviour (number 2 on #649) just displaying the name and unqualified type could be ambiguous. Perhaps that's an edge case but I do think being able to paste in the ful

[2017-05-03 10:30] dselman opened #830 "perishable-network uses JS features that make it incompatible with Fabric"
## Context
The JS files for the peristable-network use `let` which make them incompatible with Otto / Duktape, and hence cannot be executed on Fabric.

## Expected Behavior
Should be able to run on Fabric, in browser and in Node.js.

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Existing issues

- [ ] [Stack Overflow issues](http://stackoverflow.com/tags/fabric-compos

[2017-05-03 10:47] nklincoln commented on #729
Work ongoing within composer-sample-networks

[2017-05-03 10:47] 14gracel commented on #830
https://github.com/hyperledger/composer-sample-networks/pull/36

[2017-05-03 11:04] dselman commented on #830
I have added an eslint config file to issue #829 that prevents using ES6 features.

[2017-05-03 11:08] dselman commented on #829
[eslintrc.txt](https://github.com/hyperledger/composer/files/973095/eslintrc.txt)

[2017-05-03 12:36] nklincoln commented on #729
Changes delivered within:
 - https://github.com/hyperledger/composer-sample-networks/pull/35
 - https://github.com/hyperledger/composer-sample-models/pull/19

[2017-05-03 12:36] #729 closed

[2017-05-03 13:18] #734 closed

[2017-05-03 13:19] #460 closed

[2017-05-03 13:20] winslet commented on #386
@sstone1 is this something we can assign out?

[2017-05-03 13:22] winslet commented on #504
Going to close this as it has become stagnant. The only remaining issue is the Readme file images which are not critical at this stage.

[2017-05-03 13:22] #504 closed

[2017-05-03 13:49] winslet commented on #821
Styling to hopefully match:

![image](https://cloud.githubusercontent.com/assets/13980028/25663483/bb6253de-300f-11e7-9a3f-4efb211472cf.png)

[2017-05-03 14:02] #830 closed

[2017-05-03 14:24] bestbeforetoday commented on #780
It turns out that (today at least) there is no Docker CE build for 17.04. The only supported versions of Ubuntu are 14.04 LTS, 16.04LTS and 16.10. So perhaps a better strategy is to target all current (non-end-of-life) Ubuntu releases, with the exception of 17.04 for now since that isn't supported by Docker CE.

[2017-05-03 15:03] winslet commented on #821
I have started to take a look at the CSS for this. Could probably do with a code review before anything goes live 👍

[2017-05-03 15:12] fenglianxu commented on #543
@caroline-church I have just started to look at this one due to a delay for getting started for V1 story. It will require couple of weeks to get this clear.

[2017-05-03 16:21] bestbeforetoday commented on #780
Fixed by [hyperledger/composer-sample-applications#28](https://github.com/hyperledger/composer-sample-applications/issues/28)

[2017-05-03 16:21] #780 closed

[2017-05-03 16:24] bestbeforetoday commented on #691
Good news! I'll close this as it looks to have been fixed. Please go ahead and re-open if it turns up again.

[2017-05-03 16:24] #691 closed

[2017-05-03 17:10] Mohamoud commented on #691
I will

On Wed, May 3, 2017 at 12:24 PM, Mark S. Lewis <notifications@github.com>
wrote:

--
*Mohamoud Egal*
*www.mohamoudegal.com <http://www.mohamoudegal.com/>*
*LinkedIn <https://www.linkedin.com/in/mohamoudegal>*

[2017-05-03 19:41] jinvanstee opened #834 "composer network list is not listing participant registry"
after successfully adding a participant to the participant registry, composer network list is displaying registry does not exist.  I know it worked because in my BlueMix dashboard I see the new block added as a participant add.

## Context
So I successfully added a participant through the CLI for the carauction-network
Jins-MacBook-Pro-2:getting-started jinvanstee$ composer participant add -n cara

[2017-05-03 19:59] nklincoln opened #835 "Inspect all *.md files for references to incorrect naming"
Additional md files (readme etc) exist through the project(s) have references to Fabric composer .... these need to be dealt with!
 - [x] Composer (pull request #861)
 - [x] composer-sample-networks (no changes)
 - [x] composer-sample-applications (PR 31 within target repo)
 - [x] composer-sample-applications-hlv1 (PR 19 within hlfv1 repo)
 - [x] composer-tools (PR 14 in tools repo)
 - [x] compose

[2017-05-03 19:59] nklincoln commented on #724
Also need to go through all *.md files - #835

[2017-05-04 00:56] pospi opened #838 "Inheritance graph not crawled properly when inheriting from other namespaces"
# Context

I have a business network setup with participants which inherit from an object hierarchy three levels deep. The root level is in a shared `*.cto` file. In a transaction class, I define a relationship to the root level model. Here are the model files for reference:

[code]

[code]

## Expected Behavior

I should be able to submit a `BaseTransaction` when supplying it with a `ClientAdminM

[2017-05-04 08:53] sstone1 opened #839 "UI nitpicks - May 2017"
Tracking of UI nitpicks in May 2017.
New functionality in this month includes:

- Connection profiles
- Identity management

Nitpicks:

- [x] (1) JSON display of resources is indented: **Caroline**

<img width="638" alt="indent" src="https://cloud.githubusercontent.com/assets/7118158/25696401/f781cbac-30ae-11e7-82e5-bb0f563b34df.png">

- [x] (2) Clicking Add to wallet or Issue New Identity opens a

[2017-05-04 09:41] EdProsser commented on #835
Can you give me some examples? I don't think there are any references left within packages/composer-website.

[2017-05-04 10:09] EdProsser commented on #804
Got my local build running now thanks to @davidkel and @mbwhite will be able to iterate on this problem much more quickly.

[2017-05-04 10:35] #741 closed

[2017-05-04 10:37] #752 closed

[2017-05-04 10:51] nklincoln opened #841 "Revisit Connection Profile Tests"
Current connection profile tests provide good coverage at the sacrifice of establishing expected test behaviour.

Where possible expected results state-change/return response/actions should be checked to ensure that regressions do not occur. Currently we are only invoking controller functions, and not checking responses.

[2017-05-04 11:56] sstone1 opened #842 "REST API for submitting a transaction does not return transaction ID"
## Context

When you use the REST server (or the LoopBack connector) and you submit a transaction, a transaction ID is automatically generated for you. This transaction ID is not returned through the REST API though, so it is impossible to try and track what has happened to that transaction.

## Expected Behavior

The transaction ID should be returned.

## Actual Behavior

The transaction ID is no

[2017-05-04 12:19] #842 closed

[2017-05-04 13:23] winslet commented on #821
Initial PR https://github.com/hyperledger/composer/pull/844 known issue is overflowing text when names are excessively long. Will open another issue about this.

[2017-05-04 13:28] winslet opened #845 "Updated dropdown style causes text to overflow"
Could do with a tweak to stop this from happening:

![image](https://cloud.githubusercontent.com/assets/13980028/25705602/c7b2c9ea-30d5-11e7-83dc-66c304c3ad5d.png)

Would be great if there was an opportunity to put an ellipsis in on overflow.

(PR for new dropdown styling:
https://github.com/hyperledger/composer/pull/844 )

[2017-05-04 13:33] winslet commented on #845
Moved issue into nitpicks https://github.com/hyperledger/composer/issues/839

[2017-05-04 13:33] #845 closed

[2017-05-04 13:34] #821 closed

[2017-05-04 13:48] jinvanstee commented on #834
I suppose this is because the command "composer network list" only works listing asset registries... and in the car auction network, the participants are in the participants registry. It would be nice to be able to see the participant list for a blockchain administrator who has the privilege to do so.

[2017-05-04 14:27] caroline-church commented on #758
This currently blocked by https://github.com/chymz/ng2-codemirror/issues/14.

[2017-05-04 15:24] winslet opened #846 "Add a "learning" section in the docs"
We should start building out the previously spoken about section in the docs called "learning".

[2017-05-04 15:30] winslet commented on #724
Looks like the above is all done. Going to close out.

[2017-05-04 15:58] 14gracel commented on #724
- [ ] https://www.npmjs.com/package/composer-cli still needs rebranding

[2017-05-04 16:04] #724 closed

[2017-05-04 16:11] nklincoln opened #848 "Extend test coverage for service components"
Hyperledger Composer Playground test coverage requires extensions on some of the Services components:

#658 calls out increased coverage required in:
 - [x] about/ service
 - [x] client service
 - [x] wallet service - **JT**
 - [x] admin service
 - [x] connection service
 - [x] initialisation service
 - [x] sample service

Having run tests locally, it is possible to inspect code coverage in the Is

[2017-05-04 16:14] nklincoln opened #849 "Extend test coverage on Drag Drop Directive"
Hyperledger Composer Playground test coverage requires extensions on the Drag Drop Directive as called out in #658

Having run tests locally, it is possible to inspect code coverage in the Istanbul Coverage output, located in
/packages/composer-playground/coverage/html/index.html

Using the above file, it is possible to see exactly where the code is not being tested, and it is here where we should

[2017-05-04 16:24] nklincoln opened #850 "Extend test coverage on Error Component"
Hyperledger Composer Playground test coverage requires extensions on the Error Component as called out in #658

Having run tests locally, it is possible to inspect code coverage in the Istanbul Coverage output, located in
/packages/composer-playground/coverage/html/index.html

Using the above file, it is possible to see exactly where the code is not being tested, and it is here where we should be

[2017-05-04 16:34] nklincoln opened #851 "Editor File Test Extensions"
#658 Calls out the need for unit tests linking the rendering on the UI to the controller. Specifically the correct message (Error/OK) being displayed in UI for CTO, JS, ACL file content types

## Context
We ask contributors to give code that has 100% code coverage and is rigorously tested ... all the base components should have this too!

Additionally 100% code coverage does not guarantee comprehe

[2017-05-04 16:37] nklincoln opened #852 "Registry Component Test Extensions"
#658 Calls out the need for unit tests linking the rendering on the UI to the controller. Specifically that the Registry Component UI displays:
- [ ] Correct registry type and namespace
- [ ] 'Add' button labelled with correct type addition
- [ ] Button not present for Transaction types

## Context
We ask contributors to give code that has 100% code coverage and is rigorously tested ... all the ba

[2017-05-04 16:44] caroline-church opened #853 "Fix Local version"
When on bluemix connection profiles shouldn't show

initializationService.isWebOnly should return a promise so that in app.component (queryParamsUpdated) when we call isWebOnly the result is returned

[2017-05-04 16:44] nklincoln opened #854 "Add UI Button Logic Tests to AddFile and Import Component"
#658 Calls out the need for unit tests linking the rendering on the UI to the controller. Specifically the button logic behind:
 - [ ] AddFile Component
 - [ ] Import Component

## Context
We ask contributors to give code that has 100% code coverage and is rigorously tested ... all the base components should have this too!

Additionally 100% code coverage does not guarantee comprehensive testing -

[2017-05-04 19:21] sstone1 opened #856 "Stack trace trying to delete connection profile"
This delete button does not work:

<img width="745" alt="screen shot 2017-05-04 at 20 21 10" src="https://cloud.githubusercontent.com/assets/7118158/25721116/3cbcfa40-3107-11e7-8802-74e0c18d61ce.png">

I see the following stack trace in the console:

[Error] EXCEPTION: Invalid argument type to path.join: undefined
	handleError (vendor.e4848d04a3b13649e6d2.bundle.js:1:676516)
	next (vendor.e4848d04

[2017-05-04 20:47] #853 closed

[2017-05-05 01:03] johnm commented on #687
On Mac OS 10.12.4, I had to downgrade to node v6.10 and run npm config set unsafe-perm true  to get this to complete.

[2017-05-05 07:25] dselman commented on #207
This also seems to be based on Monaco:
https://sourcegraph.com/github.com/sourcegraph/checkup/-/blob/CONTRIBUTING.md

[2017-05-05 08:14] nklincoln commented on #835
@EdProsser - this is not in the website, but in the code base itself (associated ReadMe files etc)

[2017-05-05 09:32] nklincoln opened #863 "Establish Protractor Tests for Composer Playground"
Whilst we have unit tests working on the Playground components, it would be a large win if we could set up golden path Protractor tests that aim to flex/drive the samples that we hold.

## Context
Part of the release process involves manually driving the UI and testing all the samples that we provide. This is time consuming and prone to human error. It would be far better if we automated this user

[2017-05-05 10:36] bestbeforetoday opened #864 "Fix path name in QA doc"
The [weekly QA document](https://github.com/hyperledger/composer/blob/master/contrib-notes/weekly-qa-validation.md) refers to a `sample-applications/packages/getting-started` directory. This has now changed to `composer-sample-applications/packages/getting-started`.

[2017-05-05 10:41] nklincoln commented on #835
All file changes complete:
 - [x] Composer (pull request #861)
 - [x] composer-sample-networks (no changes)
 - [x] composer-sample-applications (PR 31 within target repo)
 - [x] composer-sample-applications-hlv1 (PR 19 within hlfv1 repo)
 - [x] composer-tools (PR 14 in tools repo)
 - [x] composer-sample-models
 - (plugins have own issue raised #730 #731)

[2017-05-05 10:42] #835 closed

[2017-05-05 10:44] nklincoln opened #865 "Update JSDoc to reflect name change"
Documentation has been updated for name change within Hyperledger Composer - we should also edit the JSDoc to account for the change

## Context
JSDoc still uses old naming

## Expected Behavior
JSDoc should use new naming

## Actual Behavior
JSDoc still uses old naming

## Possible Fix
Edit JSDoc ...

[2017-05-05 10:46] nklincoln commented on #658
@markcastle3 - now that all points have an assigned issue, shall we close this one?

[2017-05-05 11:34] #864 closed

[2017-05-05 14:02] 14gracel opened #868 "As a user I can publish events from transactions when using the web runtime"
- [x] Add the EventService to the  base composer-runtime  package
- [x] Add the WebEventService to the composer-runtime-web package to extend the base EventService

- [x] Ability to publish as many events as are required per transaction

[2017-05-05 14:03] 14gracel opened #869 "As a user I can publish events from transactions when using the embedded runtime"
- [x] Add the EmbeddedEventService to the composer-runtime-embedded package to extend the base EventService in composer-runtime

- [x] Ability to publish as many events as are required per transaction

[2017-05-05 14:05] 14gracel opened #870 "As a user I can publish events from transactions when using the hlfv1 runtime"
- [x] Add a DataService to the composer-runtime-hlfv1 package to extend the base EventService

- [x] Ability to publish as many events as are required per transaction

[2017-05-05 14:16] #731 closed

[2017-05-05 14:16] #730 closed

[2017-05-05 14:19] 14gracel opened #871 "As a user I can subscribe to events published by my transactions"
An application developer must be able to subscribe to any events that are published by the runtime, using the composer api's

Features
- [x] Events are published by the hlfv1 runtime
- [x] Events are published by the hlfv0.6 runtime
- [x] Events are published by the embedded runtime
- [x] Events are published by the web runtime

Tests
- [x] Unit test hlfv1 runtime event publishing
- [x] Unit test

[2017-05-05 14:47] EdMoffatt commented on #657
For now, not dealing with the issue of importing a model into an existing network, OR including other models or things.  Here's a final low-fi of this screen for @winslet to take a look at and give us the final hi-fis!

https://xd.adobe.com/view/91d68ee4-5cf4-4e73-b073-ec82a17a32c0/

Will raise a separate issue to cover the new bits of function and leave this one to just be the improvements to the

[2017-05-05 15:04] EdMoffatt opened #872 "As a Playground user, I can add or include model files in an existing network"
Explore how we can allow a user to achieve the following things:

1) Be working on a business network, and decide to add a model file from another network into it

1a) What about Script files?  Is it valid to also bring in the transaction processor functions for those transactions you wanted to import?

2) Maybe also "include" networks or bits of networks from GitHub or npm

First step of this one

[2017-05-05 15:16] winslet commented on #623
Hifi's from back in the day which we believe to still be relevant. There will be edge cases we will have to work around to fix for all use cases, but testing will be required to be sure of these.

### Example of participant view with text entry fields.

This view will be different depending on the form fields found in the model file. But as an example:

![fabric composer playground define 2 copy 6

[2017-05-06 17:03] sstone1 opened #876 "Correct and enforce playground source code formatting"
The playground source code seems to be using 2 space indenting, whilst the rest of the Composer source code uses 4 space indenting. We should correct that so we use a single standard everywhere.

It seems that indenting isn't enforced by linting either, for example this is a bit of a mess:

<img width="770" alt="screen shot 2017-05-06 at 18 00 23" src="https://cloud.githubusercontent.com/assets/71

[2017-05-06 17:04] sstone1 commented on #876
@caroline-church could you find someone to take care of this please? 😄

[2017-05-06 17:45] sstone1 opened #877 "Cannot connect to HLFv1 using playground connection profiles"
## Context

Cannot connect to HLFv1 using playground connection profiles. Errors are thrown that state "cannot find cds for org.acme.biznet / mychannel". No deployment appears to happen on first use.

## Expected Behavior

The playground should detect that the chaincode is not running and deploy it.

## Actual Behavior

The playground fails to detect that the chaincode is not running, tries to acc

[2017-05-06 18:08] sstone1 opened #879 "HLFv1 sample connection profile is not useful"
## Context

The HLFv1 sample connection profile we create in playground isn't useful. The peers and ordering service use `grpcs://` but do not specify any certificates. The CA uses a `grpc://` URL when it should use a `http://` URL. Neither is immediately obvious to the user.

## Expected Behavior

Ideally there should be no changes required for the HLFv1 instance we stand up in getting started.

[2017-05-06 18:28] dselman commented on #838
Fixed

[2017-05-06 18:28] #838 closed

[2017-05-08 00:14] JackNeto opened #880 "Typo on the docs `tutorials/getting-started-cmd-line` page"
Typo on the page `tutorials/getting-started-cmd-line.html` on the section `Update the Business Network Definition`, first paragraph, second sentence.

"Please do `npt` publish to the DigitalProperty-Network in npm."

## Context

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Existing issues

- [ ] [Stack Overflow issues](http://stackoverflow.com/t

[2017-05-08 07:11] dselman opened #881 "InstanceGenerator does not find non-immediate extentions for abstract types"
Here we are only looking at the immediate super type -- we need to look at all super types.

https://github.com/hyperledger/composer/blob/6811ba5859bde3025ca00e62304cfd76a34a81ac/packages/composer-common/lib/serializer/instancegenerator.js#L167

## Context

## Expected Behavior

## Actual Behavior

## Possible Fix

Need to use the logic from ModelUtil.isAssignableTo to look up the inheritance chai

[2017-05-08 07:13] markcastle3 commented on #621
@sstone1 this looks like its all done, can we close this ?

[2017-05-08 07:17] sstone1 commented on #621
:+1:

[2017-05-08 07:17] #621 closed

[2017-05-08 08:16] #868 closed

[2017-05-08 08:39] nklincoln opened #882 "Ordering of tasks in tutorials a little confusing"
On the documentation website, the tutorials sections contains Tutorial1 followed by getting started (on CLI and Playgound) instructions (https://hyperledger.github.io/composer/tutorials/tutorialindex.html).

The tutorial seems to follow from these items though ... perhaps it would be better to more the menu ordering such that getting started is before the tutorial, or perhaps break out the getting

[2017-05-08 08:48] sstone1 commented on #877
Fixed in latest unstable builds.

[2017-05-08 08:48] #877 closed

[2017-05-08 10:09] #139 closed

[2017-05-08 10:26] #879 closed

[2017-05-08 10:59] nklincoln commented on #880
Thanks for raising the issue - pending a build to deliver the fix now

[2017-05-08 11:24] #880 closed

[2017-05-08 12:16] EdMoffatt commented on #623
Part of this is "In cases where the object is too complex to generate a form for"...  @dselman I seem to remember that you had a good explanation of why something might be "too complex".  What should we be looking for to know that something is "too complex" to generate a form for?

[2017-05-08 12:22] EdMoffatt commented on #743
Removing the Design tag because I don't *think* this needs any input from the design team.

[2017-05-08 12:44] EdMoffatt commented on #846
This one's not top of the priority pile right now, but because we've had some recent feedback on Rocket.Chat of people struggling to know where to get started, I think we might want to start by figuring out what we want to end up with on the docs page in terms of the navigation structure.

Suggest we should perhaps look at nailing the first 3 sections (Intro, Tutorials (/Learning), Installation) a

[2017-05-08 12:47] Tobias-Hunter commented on #657
Low-Fi's updated with a 3rd scenario! After talking to @caroline-church
https://xd.adobe.com/view/1deb1a98-38ce-416d-9c9f-7dfa69ed1ba1/

[2017-05-08 12:50] caroline-church commented on #496
Closing as this is really old now

[2017-05-08 12:50] #496 closed

[2017-05-08 13:11] EdMoffatt commented on #57
Testing current build, this is now working.  Steps to test ACL:

e.g. to test that an EvilParticipant cannot update a sampleAsset...

1. Create the ACL rule, following the documentation on the Hyperledger Composer website.  In this case, it'd look something like:

rule preventEvil {
    description: "Stop evil participants from doing stuff"
    participant: "org.acme.sample.EvilParticipant"
    op

[2017-05-08 13:11] #57 closed

[2017-05-08 13:23] EdMoffatt commented on #396
Leaving a note to say...  I think this one is actually effectively saying "implement support for Query in Playground, and use this to make the registries work with large numbers of assets".

i.e. I believe this will mean implementing the front-end component of #543 therefore it probably makes sense to do those two pieces of work concurrently

[2017-05-08 13:37] nklincoln commented on #865
Closing following delivery of #887

[2017-05-08 13:37] #865 closed

[2017-05-08 14:10] EdProsser commented on #735
Comment for tracking:

- [ ] https://fabric-composer.github.io/business-network/getting-started-coding-bnd.html
- [ ] https://fabric-composer.github.io/business-network/deploybusinessnetwork.html
- [ ] https://fabric-composer.github.io/business-network/bnd-define.html
- [ ] https://fabric-composer.github.io/applications/rest-api-server.html
- [ ] https://fabric-composer.github.io/introduction/busi

[2017-05-08 14:27] EdMoffatt commented on #539
I'm closing this one because I think we've concluded we want different behaviour for failures and successes.

The current failure behaviour seems pretty good e.g. if you try to submit a Transaction and don't have permission, the modal stays open with an inline error.  I *wouldn't* agree with switching this for the same behaviour we should use for success, which is that the modal closes, and a smal

[2017-05-08 14:27] #539 closed

[2017-05-08 14:45] winslet commented on #656
Hifi's incoming...

### New link beneath the "deploy" button (previously named "update").
![fabric composer playground define 2 copy 87](https://cloud.githubusercontent.com/assets/13980028/25809445/e8c3b234-3404-11e7-9f21-2089e6db7344.png)

_when selecting this a new modal pops up_

### Connection profile select modal
![fabric composer playground define 2 copy 88](https://cloud.githubusercontent.c

[2017-05-08 15:53] EdMoffatt opened #892 "Make the download link for the .yml stand out more in local install instructions"
A few people have got stuck on the local Playground install instructions because they skimmed over the need to save down the .yml file.  Probably their attention is drawn to the code to copy/paste, since that's what they've been doing throughout the rest of the tutorial.

We should do something to make it harder for the user to miss this step!

Talking about this page here: https://hyperledger.git

[2017-05-08 16:00] davidkel opened #893 "Support certificates in playground that contain \r\n as part of the text."
Some services may present a certificate PEM file as a single string for example
"-----BEGIN CERTIFICATE-----\r\n...\r\n...\r\n...-----END CERTIFICATE-----\r\n"

A user is going to want to just cut and paste this certificate text into the UI without having to remove the \r\n and playground to accept and work with this as the certificate pem.

This isn't really a bug as more an enhancement to make i

[2017-05-08 16:05] EdMoffatt opened #894 "Playground to display "success" notifications"
This issue is to add informational alerts of this style:

![image](https://cloud.githubusercontent.com/assets/7454304/25808961/888385c6-3403-11e7-9050-8266d62b4415.png)

![image](https://cloud.githubusercontent.com/assets/7454304/25808968/8d640bb0-3403-11e7-9473-cf5edd6197dc.png)

These should include the ability to set a time after which they self-dismiss, and we should be able to stack up to N o

[2017-05-08 19:54] sstone1 commented on #807
@dselman this should just be a build and publish of the extension right?

[2017-05-08 20:00] sstone1 commented on #66
@14gracel there are some missing tasks/stories for each checkbox; please can you raise these or combine them into existing issues? Thanks!

[2017-05-09 05:33] dselman commented on #894
Show events emitted by the TP functions?

[2017-05-09 07:24] sstone1 commented on #672
This has been done elsewhere as part of the connection profile support.

[2017-05-09 07:24] #672 closed

[2017-05-09 07:36] markcastle3 commented on #807
@sstone1 @dselman if this part of events and playback 5 who could do this work ?

[2017-05-09 07:38] markcastle3 commented on #817
@sstone1 @dselman could you add some context to what would be required for this epic.

[2017-05-09 07:40] markcastle3 commented on #722
@sstone1 @dselman do we need some information to help understand the work here ?

[2017-05-09 07:42] sstone1 commented on #593
We can't fix the error; the Fabric team are working on this already. Closing.

[2017-05-09 07:42] #593 closed

[2017-05-09 07:45] sstone1 commented on #612
@rodders1991 this has been implemented and should be available in the next release. You will be able to use the syntax `import biz.b.*`.

[2017-05-09 07:45] #612 closed

[2017-05-09 07:46] markcastle3 opened #896 "As a user I would like a video thats introduces me to Composer"
Initial idea (from Ed):

- This one is targeted at someone who is exploring Hyperledger and wants to know the What and Why of this particular project
- So, we need to answer "what's Hyperledger Composer, and why would I want to use it?"
- Possible structure around the "team story" i.e.
- A bunch of people worked with teams of developers building blockchain PoCs
- We noticed that there's a lot of n

[2017-05-09 07:47] markcastle3 opened #897 "As a user I would like a video of the Vehicle lifecycle demo."
Initial idea (from Ed):

- Use this to talk about how Hyperledger Composer is part of app development
- Walk through the demo, and intersperse with "interview-style" clips
- For example, we have someone talking about the Business Network definition stage, and how that was done
- Someone talking about the APIs then being exposed
- Someone talking about making the frontend apps that made use of thes

[2017-05-09 07:49] sstone1 commented on #684
Duplicate of #505.

[2017-05-09 07:49] #684 closed

[2017-05-09 07:53] sstone1 commented on #784
Closing as @davidkel is no longer working this.

[2017-05-09 07:53] #784 closed

[2017-05-09 07:55] sstone1 commented on #823
@pospi now your PR has been merged, can this be closed?

[2017-05-09 07:59] markcastle3 opened #898 "As a user, I can reference data stored in another business network"
We want to give the users of Composer the ability to reference data that is stored in another business network. Ideally we would give the users the ability to reference data stored in other targets, such as other Blockchain platforms or backend systems (IPFS, databases, etc) but this is out of scope for this epic.

Currently in Composer you can model relationships, and then create new relationship

[2017-05-09 08:10] pospi commented on #823
For sure! Thanks all (:

On 9 May 2017 at 17:55, Simon Stone <notifications@github.com> wrote:

[2017-05-09 08:19] #823 closed

[2017-05-09 08:24] #804 closed

[2017-05-09 08:25] #255 closed

[2017-05-09 09:03] jt-nti commented on #593
@sstone1 @EdProsser what about a doc fix?

[2017-05-09 09:08] m-g-k commented on #807
Hi @markcastle3, @sstone1, @dselman  I've just done this one on my laptop - will be checking in soon. It does need more than a rebuild to get the highlighting to work...

[2017-05-09 09:08] EdMoffatt commented on #529
Could we get some more description on this one please @caroline-church ?  Not sure where to start on it at the moment :)

[2017-05-09 09:17] EdProsser commented on #593
I can add stuff to the relevant pre-reqs which might mitigate, but documentation can only steer people away from the problem, rather than solving it.

[2017-05-09 09:39] EdMoffatt commented on #739
This one's in need of a hi-fi.  Assigning @winslet :)

[2017-05-09 09:49] EdMoffatt commented on #872
I'm noticing that this is basically a dup of #697 - closing this one as a duplicate: all work will be tracked there.

[2017-05-09 09:49] #872 closed

[2017-05-09 10:23] EdProsser opened #900 "Documentation Content Review"
The current documentation is a mishmash of old content and new, with multiple methods of doing the same thing, sitting in a new structure.

## Context

Now that things have calmed down a bit and the new ToC structure is in place, the content needs to follow suit. Currently, each section has an array of topic which may or may not conflict with other content or explain the same thing in a different

[2017-05-09 10:35] isasameasb commented on #687
Even i am having the same issue.Can anyone post a solution?

[2017-05-09 10:41] EdProsser opened #901 "Business Networks Content Review"
Going through all of the content in the business networks section and enhancing it and sorting out duplication.

Currently we have:

- businessnetwork.md <--- conceptual about what a business network is
- businessnetworkdefinition.md <--- conceptual about the implementation in composer
- bnd-define.md <--- half task half concept about using Yoemen to create a business network definition
- bnd-publ

[2017-05-09 10:51] EdMoffatt opened #902 "Introduce Composer ID Cards to handle deployment of multiple business networks to a connection profile"
The work being undertaken here has changed significantly, so updating the description...
There have been extensive community-call discussions and multiple ideas thrown around on this issue, so the original description was really waaaay off what we're planning to implement at this stage!

# Overview / user experience
This issue will introduce a new "My Wallet" screen to the local version of Compose

[2017-05-09 10:53] fenglianxu commented on #820
This story is split into below steps:
1.  Enable CouchDB per peer in composer-sample-applications and system test
2. Run a vehicle life cycle to create some data inside couchDB
3. create a  few sample queries to run from command line or couchDB.

[2017-05-09 10:59] caroline-church commented on #529
I think this is to update how the forms are generated by the generator. I'm not sure this needs any design. I'm probably wrong though about what this. @sstone1 am i right about what this was?

[2017-05-09 11:03] sstone1 commented on #386
@caroline-church @bestbeforetoday please assign this out 😉

[2017-05-09 11:09] sstone1 commented on #529
@caroline-church you raised it! 😛
My only guess is that this covers using the same form generation code in the playground and the generator. Since we can't answer the why how about we just close it off and re-open when we remember 😄

[2017-05-09 11:09] #529 closed

[2017-05-09 12:11] caroline-church commented on #856
@sstone1 does this still happen for you on the latest unstable?

[2017-05-09 12:16] Tobias-Hunter commented on #657
Hi-Fis incoming:

1st time experience - on load Splash screen:
![fabric composer playground define 2 copy 91](https://cloud.githubusercontent.com/assets/25635381/25850059/cf86bc9e-34b8-11e7-8cd3-a9745dc5ef96.png)

A user drags & drops their .bna file:
![fabric composer playground define 2 copy 93](https://cloud.githubusercontent.com/assets/25635381/25850070/d6d6e5fa-34b8-11e7-950c-3d85a96b6b4d.png

[2017-05-09 12:25] Tobias-Hunter commented on #657
Assigning @sstone1 find the most appropriate person for this 😛

[2017-05-09 12:30] EdMoffatt commented on #601
I think a summary of how this will affect the Playground UI is:

- Playground should warn the user if deploying the Business Network Definition they have in their editor will cause incompatibilities with historic assets
- This should be synced with work on #902 - which will introduce the ability to deploy multiple networks to the same connection profile.  As such, we may only want to warn on Deplo

[2017-05-09 12:32] Tobias-Hunter commented on #839
Added Hi-Fis for (14) @caroline-church

[2017-05-09 12:35] EdMoffatt commented on #527
Could we maybe add to this one with a description of what the Generator is, and screenshots of how it is at the moment + the reason for the re-design?  If we made it a more accessible issue for somebody new to pick up, it might be a good opportunity to encourage any would-be-committer Designers we have in the community to get involved in the project, since it's neatly separate from the Playground

[2017-05-09 12:38] EdProsser opened #903 "Installing Documentation Review"
The Installing docs have had some work done, but there's more to do.

## Context

We don't currently delineate between platforms much in installing, things could be cleared up for a shorter and more directed experience.

 - createconnectionprofile.md <--- Task, reasonably clear task about creating a connection profile for HL0.6 or HL1.0. Main concern is _should it be in installing?_
- Installingin

[2017-05-09 12:41] EdMoffatt commented on #656
Just adding a note that, as is true of quite a few issues, this will definitely be influenced by #902

[2017-05-09 13:05] #801 closed

[2017-05-09 13:08] sstone1 commented on #657
@caroline-church @bestbeforetoday please allocate this work 😄

[2017-05-09 13:34] EdProsser opened #905 "Applications Documentation Review"
This is mostly just a framework, I don't expect to get onto this in Playback 5, so will fill in more information when we get round to this.

- genapp.md <--- Task, using Yoeman to generate an angular2 or CLI application. Seems good but needs much reformatting.
- getting-started-nodejs-app.md <--- Task, seems like an alright topic? needs a lot of simplifying.
- rest-api-server.md <--- Task, setting

[2017-05-09 13:40] EdProsser opened #906 "Integrating Documentation Review"
Our integrating docs are.... lacking.

There's not much to go through, which may be a blessing in disguise. This one is more about optimising what we have and deciding whether there should be more. Obviously more will come in future, but _for now_.

- integrating-index.md <--- concept, landing page, not much to see here.... _"move along..."_
- getting-started-rest-api.md <--- Task, didn't I just d

[2017-05-09 13:56] EdProsser opened #907 "Managing Documentation Review"
Here's a set of documentation which I actually feel does an alright job. It's reasonably clear, all notably different and explicitly detail what the purpose of each topic is. It's not structured perfectly, and there's work here to do, but I anticipate smaller scale changes here than elsewhere.

- current-participant.md <--- Task, as this is implementing access control, an optional part of a busine

[2017-05-09 14:16] EdProsser opened #908 "Diagnosing Documentation Review"
The little section that could.

Problem diagnosing has just the one topic. Does this need expanding? It seems informative but perhaps not comprehensive.

- diagnostics.md <--- reference/concept, need some guidance on this one, technical preferably.

[2017-05-09 14:20] EdProsser opened #909 "Reference Documentation Review"
Ok. The Big One.

This section is literally untouched almost since I started on Composer. I've updated the glossary, but the rest is basically marked "here be dragons".

I won't bother listing all the docs for these, but I'd need someone technical to sit down with me and go through each one to provide the technical usefulness rating of each so I can provide the ID/IA glitter and make them fit for

[2017-05-09 14:20] davidkel opened #910 "Use Bluebird for promises in node.js code"
bluebird is a high performance drop in replacement promise implementation but the killer feature is the ability to set the environment variable BLUEBIRD_DEBUG=1
This will generate stack traces for problems which also traverse back through the promise caller giving a more complete stack trace rather than stack traces starting at the top of the promise function.

[2017-05-09 14:21] EdProsser commented on #900
Having added the relevant issues, this epic is pretty large given that I am just one human.

[2017-05-09 14:23] Archcry commented on #795
I am doing this as a normal user in a vagrant virtual machine with:

[code]
Getting the same error:

[code]

[2017-05-09 14:42] davidkel commented on #795
@Archcry what level of python do you have installed ?

[2017-05-09 15:02] Archcry commented on #795
Python 2.7.12 if I'm not mistaking.

[2017-05-09 15:05] EdProsser commented on #313
Put a warning against using the command as the root user in the places this command appears in the docs. It'll be in my next PR after I've checked the pages look ok.

[2017-05-09 15:12] EdMoffatt opened #912 "As a new user discovering Composer, my path is clearly laid out"
Community members have expressed confusion with how they're meant to get started with Composer: what should they install first?  Do they need a Fabric running before they set up the CLI?  etc.  We should:

1. Agree the expected/ideal route for a user to take through discovering Composer
2. Update the experience to make this route the path of least resistence
3. Also be careful to allow for users d

[2017-05-09 15:12] Tobias-Hunter commented on #828
Capturing initial thoughts after talking with @EdMoffatt
![image](https://cloud.githubusercontent.com/assets/25635381/25857842/25759292-34d2-11e7-84a3-4ac8fd27005b.png)

- We display 5 files of a certain type (model files, script files & access control files) max to the user, anymore we have a scroll within this sidebar!
- Character length is limited, however we eliminate the beginning & allow the

[2017-05-09 15:28] EdMoffatt commented on #912
Proposed "golden path" for a totally new user discovering Hyperledger Composer:

1. Try it out before you install anything: visit the web-hosted Playground.  Here you can import and edit samples, or create your own business network from scratch.  You can also test how it would work if deployed, by creating assets, participants and transactions that are stored in browser memory.

2. Now you've deci

[2017-05-09 15:39] EdMoffatt commented on #912
Suggested work in support of this (to be split out into issues if we agree they're needed!):

- Rework the first few sections of the doc to promote this path
- Establish whether "latest versions of both" (Composer and Fabric) - which means "the latest versions that play well together for sure and we have tested that" - can be achieved in such a way that we don't have to update the commands if newe

[2017-05-09 16:00] AntCole opened #914 "Search for documentation"
_As a_ user,
_I need_ to search the documentation
_so that_ I can find all content related to specific subjects that I can not easily find through the index

## Context
There is no way to search for specific content within documentation without diving into various categories or pages on this page: https://hyperledger.github.io/composer/introduction/introduction.html

## Expected Behavior
a search

[2017-05-09 16:09] jt-nti opened #915 "Optionally display contents of password fields"
As a _tbc_, I would like to be able to see the passwords that I type in.

Some dialogs in the playground require passwords to be entered, with no built in ability to see what you've typed in. For example:

![image](https://cloud.githubusercontent.com/assets/3535067/25860468/89c7d3c0-34d9-11e7-94b4-bf75e5ee30e7.png)

In #839 it was suggested that it might be handy to provide something like a little

[2017-05-09 16:11] jt-nti commented on #839
Displaying text in password fields seemed like an enhancement that could do with a bit more discussion so I've moved it to #915

[2017-05-09 16:16] davidkel commented on #795
@Archcry the problem you describe usually means that the node package didn't build properly when you did an npm install -g composer-cli. Try uninstalling and re-installing composer-cli, and see if there were any errors generated, the errors can easily get lost as so much is output by npm.

[2017-05-09 16:19] jt-nti commented on #915
I'd be interested to know more about what problem this is intended to solve. I have seen this sort of feature before, which seems to targeted towards phone or tablet users where there is a higher chance of mashing the keyboard. Do we have lots of phone/tablet users that would find this useful? Do browsers on those devices have enough mitigation built in already, e.g. showing the last character tha

[2017-05-09 16:45] seanbarclay commented on #912
deploying somewhere is great. but the thing to delineate is deploy to what? a fabric simulation environment or a production based network w/participants running their own infra.

it might be helpful to come up with best practices around them. integrations could be for individual participants or could be shared. that yields interesting opportunities as well.

[2017-05-09 19:37] Archcry commented on #795
I've already tried the steps suggested here: http://stackoverflow.com/questions/43408040/failed-to-load-connector-module-composer-connector-hlfv1-for-connection-profil

These seem to be the same as you are suggesting. The npm install finishes without any errors so composer-cli should be installed correctly.

[2017-05-09 20:09] davidkel commented on #795
@Archcry How did you setup all the required dependencies ? was it via the getting started script ? I assume you aren't doing any sort of shared folder environment. The error you are reporting is down to required node modules not loading so you could try setting
export NODE_DEBUG=module
and then running the command in the getting started directory
`composer network deploy -a digitalPropertyNetwork.

[2017-05-09 20:47] dselman commented on #912
I agree this should be a priority. @mbwhite is working on cleaning up the Fabric Dev Setup scripts and moving them out of Getting Started. I would like to promote this sort of path (all up for discussion):

0. Use Playground on the web
1. Install Playground + Fabric Local Dev Server -> connection profile pre-created
2. Install Composer Local Dev Tools (CLI, REST Server, Angular Generator)
3. Insta

[2017-05-10 07:28] Archcry commented on #795
[I am using this ansible vagrant machine](https://github.com/NoTSGroup5/hyperledger-vagrant-vm) that I set-up manually, I did not use the install dependencies script but they should be fine.

![Image of dependencies](http://i.imgur.com/h9WHgAR.png)

Getting this error when doing a `npm install` with `export NODE_DEBUG=module`
[code]

[2017-05-10 08:30] markcastle3 opened #918 "As a user I would like to see more participants in the Vehicle Lifecycle Demo"
## Context
1) Addition of another participant - auction house or different manufacturer
2) have the scrap merchant view via the automated UI generator - in later lab user will create this themselves.
3) find a very simple transaction a user can create (model & script) for them to then create the API for and use - eg change colour of car?

## Expected Behavior

## Actual Behavior

## Possible Fix

[2017-05-10 08:38] EdProsser commented on #914
This is a big ol' can of worms, but I agree that searchable docs are better than non-searchable docs. AFAIK this will require some extension of our docs infrastructure, but it's certainly worth looking into.

[2017-05-10 08:40] EdProsser commented on #882
The 'Coding a BND' topic is going to be taken care of during the documentation review. I have plans for that doc.

I'll have a look at the ordering and update this issue.

[2017-05-10 08:45] markcastle3 opened #919 "Contribute Vehicle Lifecycle demo code and document how to run it."
- [x] Contribute Demo code

- [x] Document how to run the demo

[2017-05-10 08:52] sstone1 opened #920 "As a contributor, I need to model core types in a system namespace"
Here are some issues that provide the background for the work required in this contributor story:

#817 will introduce support for an identity registry, a registry that contains the set of issued/revoked identities within any given business network. This is data that is currently stored in an internal format and not exposed outside of the runtime.

Note that all our client and runtime side registr

[2017-05-10 08:53] Tobias-Hunter commented on #828
.XD Click-through: https://xd.adobe.com/view/038d9ea9-7ecb-41d3-ad83-61e23895a166/
.XD File on Box: https://ibm.box.com/s/8c4ovvybmzonx3s7o8p46q0yz8sw4nd6

Please see the above comment for information & any questions let me know! 🤘🏻

Assigning to @winslet for Hi-Fis

[2017-05-10 09:31] fenglianxu opened #921 "As a user, I want to perform complex queries when using the REST APIs"
As a user, I want to perform complex queries when using the REST APIs. I want to have the Composer REST server generate HTTP GET routes for each complex query that I have defined in a business network, so that I can execute those complex queries using an HTTP client.

## Context

This story will implement a complex query transaction in composer runtime environment.  Query all assets owned by a par

[2017-05-10 09:38] sstone1 commented on #817
Adding design tag for comments so they dump all of the identity registry designs into this issue 😉

[2017-05-10 09:39] sstone1 commented on #722
Adding design tag to request thoughts on single ACL files vs multiple ACL files, and how we handle these in the playground (if at all).

[2017-05-10 09:40] EdMoffatt opened #922 "Playground should keep changes if user navigates from "Define" without deploying"
NEW PLAN!

After discussion, we're going to implement this differently from my original suggestion!  Instead, the behaviour we're going to go for is that even if there are undeployed changes when the user navigates away from the Define tab (to the Test tab or ID Registry), we'll keep them there for when they come back.

Undeployed changes will only be discarded if the user goes back to the My Busi

[2017-05-10 09:54] EdMoffatt commented on #912
That suggestion is excellent, @dselman - a really strong flow imo.

Will raise this on the community call on Thursday too, see if others have thoughts and feedback on the approach before we start the re-jig!

[2017-05-10 10:10] sstone1 opened #923 "As a user, I can use a unified UX/UI to understand, test, and manage my REST API"
The Composer REST server currently exposes a LoopBack themed version of Swagger UI that allows users to understand and test the automatically created REST APIs.

#142 adds support for securing a REST API with authentication. Essentially it means that a user must "sign in" to the REST server before they can use the REST API. They must also upload identities into their wallet that is stored on the R

[2017-05-10 10:26] EdProsser commented on #912
These will go away regardless, as part of the docs review work. Was always the plan to nuke them.

Create a new Business Network Definition
Create a command line application
Expose a REST API
Create an Angular application
Deploy a Business Network Archive to HSBN
Deploy a Node.js client application to Bluemix
Deploy a Node.js client application to AWS

This is fine, but I think it's worth bearing

[2017-05-10 10:35] Archcry commented on #795
I finally managed to solve the issue, the errors I was getting were all over the place and sometimes the process would just quit during a `npm install`. The problem turned out to be the amount of memory I had assigned to my vagrant box, 1024mb wasn't enough.

[2017-05-10 10:39] sstone1 commented on #910
Higher performance is great, and the chained stack traces is nice.
However, my concern is that we should not mandate the use of a certain promise library in consuming Node.js applications, which may already be using another promise library.
To make that possible I think that we'd need to make sure we use only the ES6 promise APIs and we don't use any additional functions that a promise library mig

[2017-05-10 10:43] winslet opened #924 "Build a file and documentation to allow the community to contribute design work and assets"
Need to bring together the components we have within the design of composer playground into a single file so that it can be easily digested and built upon by the community. Along with this it will standardise our components from a design perspective.

Alongside this file we will need a set of guidance for the community when it comes to contributing design work.

[2017-05-10 10:48] m-g-k commented on #383
FYI, I can't seem to assign this to myself, but as no one seems to be working on this, I've made a good start. All basics working OK, hopefully ready to commit next week

[2017-05-10 10:54] sstone1 opened #925 "As a user, I can easily export generated schemas/code from the playground"
Currently we have a bunch of schema/code generators that allow you to:

- Generate an Angular 2 application
- Generate a CLI application
- Export JSON Schema files from a model file
- Export a UML diagram from a model file
- Export TypeScript definition files from a model file

I would like to see these exposed through playground so that users could easily drive the generators and download the res

[2017-05-10 10:58] m-g-k commented on #807
Pull Request created for the vscode repository

[2017-05-10 13:51] davidkel commented on #795
@Archcry yep definitely not enough :-)
@belltanellc @Archcry I believe this problem is now addressed (A fix has gone into the getting started sample to address the fabric not starting). So I will close this issue. If you think there is still an issue, please feel free to re-open or create a new isue.

[2017-05-10 13:51] #795 closed

[2017-05-10 14:20] davidkel opened #927 "Chaincode instantiation and ACL handling"
(Not sure if this has been covered by another issue so please ref and close if so)
Chaincode instantiation comprises of bring up the composer runtime and installing the business network archive through the chaincode init function.

As part of that bring up acl checking is done and unless the identity returned is null from the getIdentity call, the instantiate will fail due to acl check rejection.

[2017-05-10 14:32] davidkel commented on #685
this has now been fixed by #904

[2017-05-10 14:32] #685 closed

[2017-05-10 14:39] davidkel commented on #673
So nothing will be coming of HLF V1 to allow the stopping of chaincode containers and removing of chaincode images from peers.
Is there a way we could get all chaincode containers running a business network to terminate themselves so that we can at least bring down the chaincode containers ? it would have to be sent to all peers that you wanted to terminate the container on.

[2017-05-10 14:52] davidkel commented on #673
Spoke to Simon, we won't try to do anything clever like stopping chaincode containers.
@EdProsser We will need to add some documentation around what undeploy means with HLF V1. All it will do is make the business network unavailable. It won't stop the chaincode containers from running and a redeploy will not re-enable the business network - in other words you can't, however if  you get a new versi

[2017-05-10 15:01] EdProsser commented on #673
@davidkel Are there any other technical changes which would affect the content on this page? https://hyperledger.github.io/composer/reference/composer.network.undeploy.html

[2017-05-10 15:02] EdProsser commented on #673
Other than on HLFv1 the redeploy doesn't re-enable the network.

[2017-05-10 15:12] EdProsser commented on #763
Ok so: here's the docs plan.

1. Create a new document on publishing events. /business-network/publishing-events.md
2. Update the concept docs in /business-networks/ to reflect the addition of events.
3. Create new doc in Applications about subscribing to events. /applications/subscribing-to-events.md
4. Update modelling language docs.
5. Update Conceptual docs in Introduction etc.

@14gracel @sst

[2017-05-10 15:12] samjsmith commented on #776
It's worse than that since the success message often appears before the dialog asking you where to export it to.

[2017-05-10 15:12] EdMoffatt commented on #905
Looking at the Rest API instructions here: https://hyperledger.github.io/composer/applications/rest-api-server.html

1) I think the other tutorials tell you the command to check which version of a thing you're running?  Suggest we add in "node -v" instruction to check.

2) This is massively missing pre-reqs.  It tells you how to run a script that immediately asks you for things like:
- Fabric Conn

[2017-05-10 16:43] davidkel commented on #673
@EdProsser Hi Ed, I have made a change to the comment, but in summary what happens is this currently in with the alpha images.
- I deployed a business network (digitalproperty-network)
- I undeployed that network
- tried to connect to it using the rest server and got
[code]
as expected.
- I tried to redeploy the network (ignore the original comment about chaincode version numbers) and got
[code]
T

[2017-05-10 16:54] davidkel commented on #673
covered by pull request #929
just leaves the docs now :-)

[2017-05-10 20:55] nklincoln opened #930 "Complete stubbed out loopback-connector tests"
The Loopback-connector-composer tests have stubbed out items that are currently not performing any test function - these should ideally be completed.

asset.js

- #destroyAll namespaces
- #destroyById namespaces
- #replaceById namespaces
- #replaceOrCreate namespaces
- #updateAll namespaces
- #upsert namespaces
- #upsertWithWhere namespaces
- #destroy namespaces
- #replaceAttributes namespaces
- #

[2017-05-11 04:40] trauts2 commented on #912
I just started investigating Composer, and I love the theme of this issue.

Regarding the REST tutorial, it would be nice to show how a custom API method would be added.  Or if the framework tooling requires sticking strictly to REST conventions for nouns and verbs with no RPC-like methods, that could be stated there as well.  This would help calibrate new devs to the current capabilities and limi

[2017-05-11 04:50] trauts2 commented on #764
Possibly for use cases where the primary purpose is storing a record of some occurrence on the chain.  Like a record of a dose of medicine given to a patient.  Delete may not be allowed or meaningful.  Sure we could make it fail and always return an error to the caller.  But maybe better to omit an unsupported verb form the API entirely.

[2017-05-11 05:34] trauts2 commented on #55
How could access to historian data be restricted?  For instance, if competitors are peers on the chain, each should not be able to see the others' data, only their own.   Or maybe only other assets referencing their ID.

Is this sort of restriction envisioned to be handled in ACLs or maybe within custom logic in transactions for accessing data?

[2017-05-11 07:27] sstone1 commented on #927
Duplicate of #670.

[2017-05-11 07:27] #927 closed

[2017-05-11 07:43] caroline-church commented on #894
@EdMoffatt @winslet When there is more than one notification what should it look like? The two examples you have shown are very different sizes how should we deal with that?

[2017-05-11 07:59] nklincoln commented on #791
PR33 in composer-sample-applications enables the Travis build to be based from the ubuntu-prereqs script

[2017-05-11 08:02] sstone1 opened #935 "As a user, I can easily share connection profiles between users and systems"
Currently, connection profiles cannot be shared between different users and systems. This is due to this property in the connection profiles for the `hlf` and `hlfv1` connectors:

[code]

I hate this property with a passion, despite being the criminal responsible for adding it in 😉
My main gripes with it are:

- The name is rubbish, as we took it straight out of the underlying Fabric SDK - what ev

[2017-05-11 08:16] sstone1 opened #936 "As a user, I can link the Composer transaction to the underlying Blockchain transaction"
Currently, when a Composer transaction is submitted using the Node.js API, REST API, or playground, the transaction ID is generated client side using a UUID library:

https://github.com/hyperledger/composer/blob/master/packages/composer-client/lib/businessnetworkconnection.js#L365

However, when the transaction is submitted to the underlying Fabric, the Fabric SDK/peer generates a Fabric transacti

[2017-05-11 08:18] sstone1 commented on #55
@trauts2 I believe that we should be using ACLs to control access to all data stored in Composer, including the historian records.

[2017-05-11 08:27] sstone1 opened #937 "As a user, I should not have to specify an enrolment secret if I have already enrolled"
Currently, all of our interfaces require an enrolment secret argument:

`composer network deploy -a carauction-network.bna -p composer-systests -i admin -s SECRET`
`bizNetworkConnection.connect('composer-systests', 'carauction-network', 'admin', 'SECRET')`

If the user has already enrolled with that ID and an enrolment certificate exists in the wallet, then the enrolment secret is completely ignor

[2017-05-11 08:28] winslet commented on #894
@caroline-church can they stack vertically please. It would be great if they could fade out after a 3/4 seconds too. Ill look into doing some interaction work here. 👍

SVG code for the icon:

[code]

Should look something like this:

![image](https://cloud.githubusercontent.com/assets/13980028/25939570/40054a6c-362b-11e7-991f-4a041c0d446f.png)

@EdMoffatt has some more thoughts on the wording of s

[2017-05-11 08:32] davidkel commented on #670
shouldn't this be a P1 ?

[2017-05-11 08:47] sstone1 opened #938 "As a user, I should not need a GitHub ID to import samples in the playground"
Currently the playground requires that you need a GitHub ID to access samples. The steps are:

1. Click link to authenticate with GitHub
2. Allow the Composer application to access your account.
3. Get redirected back to playground to access samples.

We should remove this requirement as it adds unnecessary steps (getting a GitHub ID, even if I have no intention to use it for working with source c

[2017-05-11 08:47] sstone1 commented on #938
@EdMoffatt I think we have discussed this before - any comments?

[2017-05-11 09:08] sstone1 opened #939 "As a user, I can manage connection profiles using the CLI"
The CLI currently tries to avoid exposing parts of connection profiles to the user, which feels wrong to me. For example:

- There is a default connection profile name `defaultProfile`:
https://github.com/hyperledger/composer/blob/master/packages/composer-cli/lib/cmds/network/lib/deploy.js#L28
- We automatically create a HLF v0.6 connection profile if one does not already exist:
https://github.com

[2017-05-11 09:08] sstone1 commented on #675
Closing as we should remove this automatic connection profile creation magic, see #939 for details.

[2017-05-11 09:08] #675 closed

[2017-05-11 09:50] winslet commented on #894
@caroline-church by stacking vertically - does this help explain further?

<img width="371" alt="image" src="https://cloud.githubusercontent.com/assets/13980028/25943384/97c03e0e-3637-11e7-83e2-473912eaf7d3.png">

[2017-05-11 09:51] caroline-church commented on #894
@winslet yes perfect

[2017-05-11 09:51] sstone1 opened #943 "As a user, I can import/export identities between all Composer components"
Currently, Composer identities are stored in a wallet. This is basically a directory on a file system that contains a set of files, in a format determined by the underlying Blockchain platform. Each identity in a wallet contains the enrolment certificate (private and public keys) required to interact with the Blockchain platform, along with some additional meta data.

It is a difficult, manual pro

[2017-05-11 09:57] liam-grace opened #944 "As a user I have access to a document that explains the Factory"
Composer makes extensive use of the [Factory](https://hyperledger.github.io/composer/jsdoc/module-composer-runtime.Factory.html) in the transaction processor functions and when using the client api's.

It would be useful to have a document explaining why we use a factory to create transactions, resources, concepts and events, and when to use each.

[2017-05-11 09:59] sstone1 opened #945 "As a new user, I can install Composer Playground and a Blockchain platform in one command"
I have delivered a **prototype** of a one line installer command that currently only runs on Mac:

`curl -sSL http://hyperledger.github.io/composer/install-hlfv1.sh | bash`

It should:
1) Download Fabric v1.0 + Composer Playground
2) Start Fabric v1.0
3) Create and join a channel
4) Start Composer Playground which is configured to talk to the running Fabric v1.0
5) Open a browser pointing to Compo

[2017-05-11 10:26] m-g-k opened #946 "ACL File validation broken when models with similar namespaces are loaded."
When writing the VSCode plugin for ACL validation I noticed that the ACL file would be declared incorrect by the ACLManager incorrectly if there were similar namespaces loaded into the ModelManager.

## Context
For example, taking the car auction example model and acl file, these will validate correctly as expected. However, if you load another model file into the model manager with a namespace th

[2017-05-11 12:07] caroline-church commented on #876
done

[2017-05-11 12:07] #876 closed

[2017-05-11 13:08] EdMoffatt commented on #938
I only add my firm agreement that we should aspire to do away with the need to authenticate to get at the samples if at all possible.

An additional downside to it is that it frequently gets you a second "gotta clear your browser cache" modal if you've used a previous version after you click that link.

[2017-05-11 13:48] #881 closed

[2017-05-11 13:55] mahoney1 commented on #945
On bullet 1 - have this running on Linux and will check in the script checks /changes for Playground browser launch on Linux platform.

[2017-05-11 14:28] bestbeforetoday opened #949 "Refactor ModelUtil.isAssignableTo()"
Some potential to improve the code:
- [x] Enable handling of primitive types. Should be a string comparison if both types are primitives.
- [x] Bad logic in `if(ModelUtil.isPrimitiveType(property.getName()))`? Should be `property.getType()`?
- [x] Code duplication in superclass search.
- [x] Refactor out a more generic function for type assignment that isn't specific to properties, to enable...
-

[2017-05-11 16:01] nklincoln opened #950 "Add tests for Reset component"
Hyperledger Composer Playground test effort is required on the Reset Component as called out in #658

Having run tests locally, it is possible to inspect code coverage in the Istanbul Coverage output, located in
/packages/composer-playground/coverage/html/index.html

Using the above file, it is possible to see exactly where the code is not being tested, and it is here where we should be trying to

[2017-05-11 16:05] nklincoln opened #952 "Add tests for the App Component"
Hyperledger Composer Playground test coverage requires addition for the App Component.

Having run tests locally, it is possible to inspect code coverage in the Istanbul Coverage output, located in
/packages/composer-playground/coverage/html/index.html

Using the above file, it is possible to see exactly where the code is not being tested, and it is here where we should be trying to steer the test

[2017-05-11 16:06] nklincoln opened #953 "Add tests for the test component"
Hyperledger Composer Playground test coverage requires addition for the Test Component.

Having run tests locally, it is possible to inspect code coverage in the Istanbul Coverage output, located in
/packages/composer-playground/coverage/html/index.html

Using the above file, it is possible to see exactly where the code is not being tested, and it is here where we should be trying to steer the tes

[2017-05-11 18:53] sstone1 commented on #387
@caroline-church @bestbeforetoday please could you find somebody to pick this up?

[2017-05-11 18:53] sstone1 commented on #389
@caroline-church @bestbeforetoday please could you find somebody to pick this up?

[2017-05-11 19:09] sstone1 commented on #620
We have been making great progress with this:
- GitHub repositories moved
- Documentation (GitHub Pages) moved
- Travis CI builds moved
- npm publishing moved
- Docker Hub publishing moved
- Rebranding complete

Work remaining:
- Need to clean up GitHub repository tags and descriptions
- CLA/DCO signing enforcement (CLAHub?)
- Playground hosting and publishing

[2017-05-11 19:10] sstone1 commented on #898
Leaving this one assigned to @dselman as he's currently doing some investigation/prototyping work in this area.

[2017-05-11 19:11] sstone1 commented on #671
@davidkel is this something we could turn on now, and turn off the non-TLS runs?

[2017-05-11 19:31] jt-nti opened #957 "HLF 1.0 connection profile key value store directory limitation"
The current v1.0 Hyperledger Fabric only works if the key value store directory specified in the connection profile is `<home>/.hfc-key-store`

## Context

This appears to be a known/temporary Hyperledger Fabric v1.0 limitation however it's easy to fall over when coming to it from Hyperledger Composer: there's nothing in the documentation and the playground UI gives no clues that a specific value

[2017-05-11 19:49] harrika1982 commented on #620
Is there a separate issue for re-creating the IBM github that pulls from the open source for any of the IBM specific work?

[2017-05-11 21:06] sanjay-saxena opened #958 "0.7.1: "composer network ping" does not show the list of participants"
With `Hyperledger Composer 0.7.1`, using the following command on macOS 10.12.1:

[code]
results in the following output:

[code]

even though the bootstrap transaction successfully created assets and participants. Note that I can use `composer list network ...` command to see the asset registry.

## Expected Behavior
Participants should be shown/displayed.

## Actual Behavior
Participants are not

[2017-05-11 22:09] davidkel commented on #671
@sstone1 reason I hadn't done it yet was that to make it work I had to make both peers gossip leaders and when I asked if that was the right thing to do via JIRA, they asked for checking of stuff which I did and it all looked ok so didn't get clarification that this was correct. Now they say they can't recreate it. So I will try again with alpha2 and see if the problem is resolved. If it is then I

[2017-05-11 23:14] sanjay-saxena opened #959 "Incompatible chain-code error when using "yo hyperledger-composer:angular""
I am trying to generate Angular2 app using `yo hyperledger-composer:angular` command. I have already started `Hyperledger Fabric 1.0` and `digitalproperty-network` is already deployed to the instance. However, the command to generate Angular2 app gets stuck. When I abort(Ctrl-C) the command, I see the following error message:

[code]

## Context
The following shows the version `Hyperledger Compose

[2017-05-12 06:02] sanjay-saxena commented on #959
Note that uninstalling and re-installing `composer-cli` using the following commands:

[code]
did not help. I see the same issue when trying to generate the Angular2 app.

Also, note that I have been able to submit transactions successfully and observe changes to the world state. It's just the Angular2 app generation that is causing this issue.

[2017-05-12 08:51] sstone1 opened #961 "All playground links should use https://, not http://"
## Context

All playground links should use https://, not http://. It's more secure, and causes confusing behaviour when GitHub OAuth always redirects you to https://.

## Expected Behavior

All playground links should use https://.

## Actual Behavior

All playground links use http://.

## Possible Fix

Changes all playground links to use https://.

## Steps to Reproduce

1. Go to main website
2.

[2017-05-12 08:52] sstone1 commented on #961
@EdProsser I'll do this as it's an easy fix, but an FYI.

[2017-05-12 09:00] sstone1 opened #962 "As a user, I should not have to manually switch connection profiles to try out HLFv1"
Currently when using the Docker Compose scripts or the single command installer, playground starts up and connects to the web connection profile.

We should configure playground to automatically connect to the HLFv1 connection profile we create via the COMPOSER_CONFIG environment variable.

@caroline-church please can you change the playground code to look for a `defaultConnectionProfile` flag in

[2017-05-12 09:02] sstone1 commented on #958
The `composer network ping` command is not designed to show you the list of participants. It is designed to show you which participant, if any, the specified Blockchain ID is issued to.

We have an issue to add participant registries to the `composer network list` command:
#834 composer network list is not listing participant registry

[2017-05-12 09:02] #958 closed

[2017-05-12 09:02] sstone1 commented on #957
@davidkel when the bug is fixed (alpha 2?) then we need to revert these changes.

[2017-05-12 09:12] EdMoffatt commented on #912
We discussed this on yesterday's community call, and this is the diagram I drew out to talk through it:

![image](https://cloud.githubusercontent.com/assets/7454304/25991563/7e21507c-36fb-11e7-9528-18dca4401ab7.png)

(Just pasting in here for people who weren't on the call to see!)

[2017-05-12 09:17] EdMoffatt commented on #962
Linking this to 912, as I'd like to be able to look back and see a full list of the things we've improved about the first time experience, and this definitely feels like ticking off one of the pieces of feedback we've received ;)

[2017-05-12 09:43] EdMoffatt opened #963 "Branding / message updates to the homepage"
(1)
- [x] Homepage banner images still refer to the product by the old pre-Hyperledger-acceptance name of "Fabric Composer".  It's pretty small and just in a static image, so not a huge issue, but we should go back and fix it :)

![image](https://cloud.githubusercontent.com/assets/7454304/25991986/23a0f6f0-36fd-11e7-9d8a-f54c8f31084b.png)=

(2)
- [x] The headline on the page is also one we might w

[2017-05-12 10:39] dselman opened #964 "Cannot import samples without permissions.acl into Playground"
Sample import into Playground is broken for *some* of the samples...

- animal-tracking
- digital-property
- marbles

The rest seem to work
404 on https://api.github.com/repos/hyperledger/composer-sample-networks/contents/packages/digitalproperty-network/permissions.acl

The code seems to be assuming that all networks have a permissions.acl file

## Context

## Expected Behavior

## Actual Behavio

[2017-05-12 10:41] jt-nti commented on #839
While showing the new status popups to @winslet we decided that a success alert is probably not required for switching identities, so cancelling item 17

[2017-05-12 10:42] bjdzliu opened #965 "Build composer-playground with master code , "webpack: Compiled with warnings.""
Hi, as i also get the issue "https://github.com/hyperledger/composer/issues/877",when i built a master code on my local server, "index.html" of composer-playground isn't generated.

## Context
My env info:
Server: Ubuntu 16.04.1 LTS
 npm version: 3.5.2
node version: v6.9.1

I follow the instruction https://github.com/hyperledger/composer/tree/master/packages/composer-playground.

When i exe " _git

[2017-05-12 10:47] sstone1 commented on #965
@bjdzliu these errors can be ignored I think - you should be able to access it on http://localhost:3000. If you're after the fix for #877, you can install `0.7.2` (released today) or `unstable` which is the latest good build from master:

`npm install -g composer-playground@unstable`

[2017-05-12 10:57] fenglianxu commented on #67
should this be a duplication of the #543?

[2017-05-12 11:02] 14gracel opened #967 "As a user I should receive all events that are published with the correct payload"
- [x] Unit test to ensure a variety of different events are emitted correctly
- [x] Scenario test with hlfv0.6
- [x] Scenario test with hlfv1 runtime
- [x] Scenario test with web runtime
- [x] Scenario test with embedded runtime

- [x] Documentation explaining how to subscribe to events

[2017-05-12 11:54] fenglianxu opened #968 "As"
## Context

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Existing issues

- [ ] [Stack Overflow issues](http://stackoverflow.com/tags/hyperledger-composer)
- [ ] [GitHub Issues](https://github.com/hyperledger/composer/issues)
- [ ] [Rocket Chat history](https://chat.hyperledger.org/channel/composer)

## Context

## Your Environment

* Version us

[2017-05-12 11:55] #968 closed

[2017-05-12 11:55] fenglianxu commented on #968
no needed

[2017-05-12 12:07] fenglianxu opened #969 "Enable couchDB configuration in Hyperledger Composer"
## Context
Both LevelDB and CouchDB are supported in Hyperledger Fabric V1. LevelDB is used by default. You have to set up a set of configurations to enable CouchDB.

## Scope
Both getting started Sample applications and the system test should be configured for those users to query data.

##Parent
#820

## Existing issues

- [ ] [Stack Overflow issues](http://stackoverflow.com/tags/hyperledger-com

[2017-05-12 12:08] jt-nti commented on #142
Based on @sstone1's overview of this work on the [last community call](https://github.com/hyperledger/composer/wiki/Meeting-11th-May-2017), it sounds like this issue could be broken down into the following chunks:

- loopback support for REST wallet to allow multiple instances of REST server to share Hyperledger Fabric identities in a shared db/store
- support passport authentication for rest API,

[2017-05-12 14:23] #595 closed

[2017-05-12 14:23] #755 closed

[2017-05-12 14:23] #824 closed

[2017-05-12 14:23] #893 closed

[2017-05-12 14:42] Jakeeyturner opened #971 "As a user, I should be able to use the Identity client APIs"
The ability to interact with an Identity registry should be exposed in the client APIs. This will be similar to how assets and participants are currently exposed in the composer-common package.
E.g. 'getAllIdentities', 'getIdentity(id)'

- [ ] Identity Registry API is exposed
- [ ] APIs are documented with JSDoc comments
- [ ] Unit tests written

[2017-05-12 14:46] Jakeeyturner opened #972 "As a user, I should be able to use Identity REST APIs"
I should be able to get all of the identities via REST.
E.g GET /identities

- [ ] I can use REST to interact with identities
- [ ] Unit tests written

[2017-05-12 14:56] Jakeeyturner opened #973 "As a user, I should be able to use the CLI tool to manage identities"
I should be able to use the CLI to manage identities using the APIs created in #971.
E.g. 'composer network list ...' should display the IdentityRegistry

- [ ] CLI uses Identity API's
- [ ] Unit tested (extend any current tests)

[2017-05-12 15:15] Jakeeyturner opened #974 "As a contributor, I should be able to model an Identity core type"
Using the runtime changes in #920, I should be able model an identity core type, such as:
[code]

- [ ] Should be able to model 'Identity' core type which is detected by the runtime
- [ ] Unit tested (extension of any existing tests)

[2017-05-12 15:17] nklincoln commented on #386
Picked up and working on this item now:

- Deletion modal complete

Now working on processing delete action and alert notification

[2017-05-12 15:26] Jakeeyturner opened #975 "As a user, I should be able to view all business network identities in playground"
I should be able to view all of the identities belonging to a business network inside of playground. This should be done using the new Identity API's related to issue #971.

- [ ] I should be able to interact with identities in playground using the identity APIs
- [ ] Should be unit tested
- [ ] Should follow designs below

## Design

### Navbar dropdown showing Wallet ID's and link to Identity Re

[2017-05-12 15:44] Jakeeyturner opened #976 "As a contributor, I should be able to create system transactions"
I should be able to model system transactions that execute JavaScript processor functions once called.
For example:

[code]
Submitting an 'IssueIdentity' transaction should execute the following JavaScript processor function
[code]

- [ ] Should be able to model system transactions
- [ ] Should be able submit system transactions which executes a JavaScript processor function
- [ ] Should be unit t

[2017-05-12 16:03] nklincoln commented on #386
Processing delete action and alert notification complete, working on adding tests

[2017-05-12 17:40] sstone1 commented on #964
All samples can now be imported into playground.
@caroline-church I'm dropping this to a P2, please can you find someone to tackle the playground side of things?

[2017-05-12 17:47] sanjay-saxena commented on #959
With 0.7.2, this issue has been resolved. However, it would be good to make sure that all the toolsets are depending on the same versions of components to avoid this issue. Or, have a good backward compatibility story.

[2017-05-12 17:47] #959 closed

[2017-05-12 19:24] #963 closed

[2017-05-12 22:49] sstone1 opened #978 "As a user, I can download and use a Docker image for the CLI"
## Context

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Existing issues

- [ ] [Stack Overflow issues](http://stackoverflow.com/tags/hyperledger-composer)
- [ ] [GitHub Issues](https://github.com/hyperledger/composer/issues)
- [ ] [Rocket Chat history](https://chat.hyperledger.org/channel/composer)

## Context

## Your Environment

* Version us

[2017-05-13 12:44] dselman commented on #964
Still seems to be broken, using http://composer-playground.mybluemix.net

[2017-05-13 15:36] sstone1 commented on #964
@dselman last time I trust your issue reports 😉

[2017-05-13 15:59] sstone1 commented on #964
Fixed now. **All** samples have permissions.acl files.

[2017-05-13 21:35] m-g-k commented on #946
FYI, I can also recreate this defect in the Composer Playground.

[2017-05-13 21:35] m-g-k commented on #946
Agh - hit the wrong button to close, so reopening :-(

[2017-05-13 21:36] m-g-k commented on #946
FYI, I can also recreate this defect in the Composer Playground.

[2017-05-14 10:47] sstone1 opened #981 "As a user, I can access transactions from the REST API"
Currently, users cannot access processed transactions from the REST API - they can only submit new transactions.

We have not done this so far because transactions are a bit weird and are treated differently from assets and participants - there is a single transaction registry which contains all of the different types of transactions.

I am going to resolve this by extending the "system" model and

[2017-05-14 11:09] sstone1 commented on #961
Fixed in latest unstable docs.

[2017-05-14 11:09] #961 closed

[2017-05-14 16:35] sstone1 opened #983 "As a user, I can secure access to resources on a per-property basis"
Currently, the ACL format allows you to define access control rules that apply to individual properties:

However, this is only implemented in the ACL language. There is no implementation on the runtime for securing access to resources on a per-property basis.

This user story will add support to the runtime for per-property level ACL. It will also need to extend the runtime & client so that a res

[2017-05-15 08:04] #953 closed

[2017-05-15 08:17] samjsmith commented on #776
I was looking at this last week but never got around to merging it in.  It's behaving like it's fixed now so please @Tobias-Hunter could you check and close if it's not needed any more?

[2017-05-15 08:30] #599 closed

[2017-05-15 08:31] mbwhite commented on #599
Having checked over this, I'm not seeing obvious omissions.  Closing this, if any more are seen can be sorted on case-by-case basis.

[2017-05-15 08:33] mbwhite commented on #511
Will close this and re-open;

[2017-05-15 08:33] #511 closed

[2017-05-15 08:35] Jakeeyturner opened #986 "As a contributor, I should be able to create system events"
It should be possible to model system events that are emitted on a transaction submission.
E.g. On submission of a system transaction  (#976) such as:
[code]
It should be possible to emit an event such as:
[code]

- [x] I can model system events which are emitted on submission of a transaction
- [x] Unit tested

[2017-05-15 08:37] mbwhite commented on #582
Going to close this as the home page is now a generic statement with details in the wiki.

1) Google calendar is the most obvious choice for holding a shared calendar. There is a REST API for it, but it's a bit hidden away, and not too easy to use
2) The other calendar services are very integrated into their own bigger structures, eg, MS Office
3) Couldn't really find a truly open calendar service

[2017-05-15 08:37] #582 closed

[2017-05-15 08:39] mbwhite commented on #475
When we get the information it's easy to add.. Not sure it's worth having an issue around to do this.

[2017-05-15 08:39] #475 closed

[2017-05-15 08:40] #477 closed

[2017-05-15 08:45] caroline-church opened #987 "As a user i can get all the transactions through the REST API as a historian"

[2017-05-15 08:46] caroline-church opened #988 "As a user i can get transactions by id through the REST API as a historian"

[2017-05-15 08:46] caroline-church opened #989 "As a user i can only see transactions i have permissions to through the REST API"

[2017-05-15 08:47] caroline-church opened #990 "As a user i can query transactions through the REST API"

[2017-05-15 08:49] caroline-church opened #991 "As a user, I can use the historian to understand what changes have been made by a transaction"

[2017-05-15 08:50] caroline-church opened #992 "As a user i can see the particpant that submitted the transaction"

[2017-05-15 08:50] caroline-church opened #993 "As a playground user I can see the history of transactions"

[2017-05-15 08:55] fenglianxu commented on #990
@caroline-church This is a query story, link this to the epic #543

[2017-05-15 09:01] mbwhite commented on #43
The devil is in the details @sstone1, can't rush perfection  😃

Just tried this - and yes it's all done!

[2017-05-15 09:01] #43 closed

[2017-05-15 09:06] Tobias-Hunter commented on #776
@samjsmith is this in unstable or?

[2017-05-15 09:09] fenglianxu opened #994 "As a user I want to perform a rich query with Hyperledger Fabric V1"
## Context

## Summary
This story will allow application users to query resources from their registries via different methods:

- query with a simple couchDB query string

- query with parameters -- eg. query all Orders made from Vehicle lifecyle Demo last week

- query all transactions with sort by status

- qive me the history of a particular asset

.

## Existing issues

- [ ] [Stack Overflow i

[2017-05-15 09:12] samjsmith commented on #776
it's in the master branch

[2017-05-15 09:20] EdProsser commented on #912
Here's my sizings for the DOCS portion of work from Mark's email:

There's little to no docs work here. Giving this a 1.

There's some docs work here, but we've got the body of content, just needs correctly adapting and arranging. Giving this a 5.

These docs I've not spent too much time looking at, so giving this an 8 to cover the worst case scenarios.

These docs are actually alright, so giving

[2017-05-15 09:22] EdMoffatt commented on #892
This was closed by PR 916 (not on the live website yet, but should go live next time a build is cut)

[2017-05-15 09:22] #892 closed

[2017-05-15 09:24] fenglianxu opened #995 "As a VSCode releaser I want to follow an instruction to publish a new release of a plugin to the VSCode Marketplace"
This is a doc story to cover instructions on how to make a release for the developers.

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Existing issues

- [ ] [Stack Overflow issues](http://stackoverflow.com/tags/hyperledger-composer)
- [ ] [GitHub Issues](https://github.com/hyperledger/composer/issues)
- [ ] [Rocket Chat history](https://chat.hyperledger.org/channel/composer)

## Context

[2017-05-15 09:34] EdMoffatt opened #996 "Getting Started instructions broken (in a minor way)"
$ git clone https://github.com/hyperledger/composer-sample-networks.git
$ cd sample-networks/packages/DigitalProperty-Network

Guess the first line got updated to reflect a name change, but then not the cd command.  It's a minor one, but needs a quick update to fix the cd command.

[2017-05-15 09:40] bjdzliu commented on #965
Thx very much.

[2017-05-15 09:40] #965 closed

[2017-05-15 09:44] Tobias-Hunter commented on #776
Yey! However, no feedback is given now...

Currently:
![pasted image at 2017_05_15 10_32 am](https://cloud.githubusercontent.com/assets/25635381/26051405/fc078e06-3959-11e7-853d-0e25f3295c77.png)
Low-Fi for expected:
![image](https://cloud.githubusercontent.com/assets/25635381/26051759/12733932-395b-11e7-8d6f-efd5ac4612bb.png)
So we give a notification for a successful export! @winslet any input o

[2017-05-15 09:58] EdProsser commented on #912
BTW those sizings are written in the spirit of Planning Poker.

[2017-05-15 10:15] samjsmith commented on #776
it looks like the code is still issuing the notification before the file has been saved for some reason. Could be a missing promise or something, I'll have a look.

[2017-05-15 10:48] samjsmith commented on #776
I don't think that we can use the FileSave package that's in there since it doesn't expose an asynchronous interface to do the work so it doesn't tell you when it's done.
See here https://github.com/eligrey/FileSaver.js
It also locks your browser while you have it open not allowing you to switch tabs which isn't ideal.

[2017-05-15 11:02] #894 closed

[2017-05-15 11:02] sstone1 opened #998 "As a user, I can see notifications of published events in the playground"
We should update the playground so that it subscribes to events and displays them to the user.

[2017-05-15 11:02] nklincoln commented on #386
Following conversation with @EdMoffatt, we will permit the deletion of files that will invalidate the business network, however it will not be possible to deploy the resulting network.

Future tasks to be raised relating to:
 - Highlighting files that are in error state, to help provide guidance to users where any fixes are required.
 - Enabling a roll-back to a previous version of the business ne

[2017-05-15 11:13] caroline-church commented on #815
This has been fixed already

[2017-05-15 11:13] #815 closed

[2017-05-15 11:18] caroline-church opened #999 "As a user i can limit the number of transactions we store in the historian"

[2017-05-15 11:19] caroline-church opened #1000 "As a user i can configure the type of transactions that are stored in the historian"

[2017-05-15 11:20] caroline-church opened #1001 "As a user i can understand how to use the historian"

[2017-05-15 11:21] caroline-church commented on #1001
@EdProsser Can you give an estimate for this please?

[2017-05-15 11:37] caroline-church commented on #990
SIZING: 1 day

[2017-05-15 11:39] caroline-church commented on #991
SIZING:  5 days

[2017-05-15 11:40] caroline-church commented on #992
SIZING: 2 days

[2017-05-15 11:41] caroline-church commented on #993
SIZING: 5 days

[2017-05-15 11:43] caroline-church commented on #999
SIZING: huge?????

[2017-05-15 11:44] caroline-church commented on #1000
SIZING: huge???

[2017-05-15 11:44] EdProsser commented on #1001
We currently don't really expose much of this to the user IIRC. I'd say that a high estimate would be one working week to get the docs done and ready for human consumption.

[2017-05-15 11:45] caroline-church commented on #987
SIZING: 3 days

[2017-05-15 11:46] caroline-church commented on #988
SIZING: 1 day

[2017-05-15 11:46] caroline-church opened #1002 "As a user i can subscribe to events from the historian"

[2017-05-15 11:48] caroline-church commented on #1002
SIZING: 2 days

[2017-05-15 11:49] caroline-church commented on #989
SIZING: 1 day

[2017-05-15 12:07] jt-nti commented on #533
@markcastle3 I had a chat with @EdMoffatt and I think we can close this issue off after I've added the current id to the top nav bar

[2017-05-15 12:22] Tobias-Hunter commented on #776
Ok we shouldn't show a notification unless we would be able to tell if it's been downloaded. I think we can close this issue when we get rid of the blank notification!

[2017-05-15 13:11] EdMoffatt commented on #993
Sizing design work assuming that:
- We set a limit for how many Playground will display
- We also add e.g. pagination
- We adapt the info that is shown on each "tile" such that it features the info we are actually getting back from the "Historian" component
- We do the first 2 bits (limit total and paginate) in such a way that we can then also apply the same behaviour to Assets and Participants (a

[2017-05-15 13:19] Tobias-Hunter commented on #998
Initial thoughts on this one @sstone1

XD. Clickthrough for this:
https://xd.adobe.com/view/e89120cc-6c9d-40f6-9ce5-25bc0f8fb224/

A current presumptions with this is that we cannot link a transaction & an event. Also, when an event is emitted it will only be there for that time period (don't know the term for this 😉 ). Hence the disappearing after so long style behaviour.

Something that this des

[2017-05-15 13:34] sstone1 commented on #998
@Tobias-Hunter the main problem with that is the lack of information, I can only see the event ID in the clickthrough. Events can be modelled and can have an arbitrary set of properties - we need to show all of those properties.

[2017-05-15 13:38] Tobias-Hunter commented on #998
@sstone1 is this something which could potentially live in it's own registry? & with the notifications as an added benefit? Also, are we able to show the user historic events?

[2017-05-15 14:14] #996 closed

[2017-05-15 14:47] mahoney1 opened #1003 "As a new local Playground user, I can deploy the sample business network to Hyperledger Fabric"
As a new user, that has set up a connection profile to the running Fabric (such as v1.0 provided with Composer Playground),  I should expect the sample network used in web browser mode (namespace org.acme.sample) to be deployed to the Hyperledger Fabric after 'connecting' with my newly defined Connection Profile.

## Context

Immediately after local install of Playground, I can presently work with

[2017-05-15 15:22] caroline-church commented on #964
Fixed so will now import samples without acl files

[2017-05-15 15:22] #964 closed

[2017-05-15 16:13] EdMoffatt commented on #912
1.  As a new user, I want to try Composer Playground with no local installation, so that I can familiarise myself with its concepts and capabilities.

My Sizing: 1

2.  As a new user, I want to install and run Composer Playground and Fabric locally, so that I can experiment offline with persistent state. (This could be broken into smaller, incremental stories).

My Sizing: 1

3.  As a developer, I

[2017-05-15 18:21] dselman opened #1004 "As a user I can call an external REST Service from a TP Function"
## Context
Several users have requested the ability to call external functions over REST from TP functions. This allows the TP functions to off-board complex or expensive computation to a centrally or peer hosted service.

## Expected Behavior
TP function should be able to make a POST request to a REST service, passing in asset, participant, concept or transaction data.

The result of making the R

[2017-05-15 19:11] #981 closed

[2017-05-15 19:11] #978 closed

[2017-05-16 07:51] sstone1 commented on #575
I will fix this by extending the ACL language with an optional transaction specification:

[code]

If a transaction type is specified, then the action must be running within a scope of a transaction.
That transaction must be an instance of the specified transaction type.
CRUD actions do not run within the scope of a transaction, so by specifying any transaction type, the access controls will not b

[2017-05-16 10:08] EdProsser commented on #882
I've updated this stuff a little, hesitant to change too much before the new user experience stuff get's going properly, but will commit the stuff I've updated and close this issue when it goes in on Weds.

[2017-05-16 11:44] sstone1 opened #1006 "Package chaincode into tarball as part of the build and use it during peer install"
Currently, the code for deploying our generic chaincode to Hyperledger Fabric is quite complicated. It performs the following steps:

https://github.com/hyperledger/composer/blob/master/packages/composer-connector-hlfv1/lib/hlfconnection.js#L272

1. Copies the chaincode to a temporary directory. This was originally done because `hfc` wrote a Dockerfile to that directory during deploy, and we neede

[2017-05-16 12:19] mahoney1 commented on #912
Adding my two cents (euros or US)..

1) the thing that's missing for me is 'a tour' (however its done) or 'tour experience' is perhaps more succinct. . I think it would help address the issue of  'my [the user's] path is clearly laid out'.  So 1) the user can 'start the tour', navigate to step 1 (playground) and so on along the path (as @dselman suggested),  but flexible to see any step 'explored'

[2017-05-16 12:50] mbwhite commented on #65
I've been able to make significant progress on this; the feasibility of using Windows 10 Professional as a **development** platform is plausible.

**Pre-preqs**

- Windows 10 Pro, with hyper-v enabled
- Docker for Windows installed
- Node 6 and npm  4 installed
  - The version of npm with Node is out of date and should be updated `npm install npm@latest --global`
- Git for windows, installed with

[2017-05-16 14:54] vinitesh opened #1007 "ACL engine should resolve relationships for use in conditions"
In permissions.acl , conditions can be defined on multi tier relationship of a resource or paticipants.
Like it should be able to evaluate properties of a relationship object.

## Context

asset CC identified by id{

o String id
-->Package package

}

asset Package identified by id{

o String id
--> Individual individual

}

participant Individual identified by id{

o String id
}

rule cc {
descri